{% extends '../a_layout.html' %}
{% load ui_method %}
{% block css %}
    
{% endblock %}

{% block title %}
<h1>活动管理</h1>

{% endblock %}
{% block page_header %}
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 广告位管理</a></li>
    <li><a href="#"><i class="fa fa-dashboard"></i> 活动管理</a></li>
</ol>
{% endblock %}

{% block content_title %}

<div class="row">
    <div class="col-md-8">
        <div "row">
            <div class="col-md-8">
                <form action="" method="GET" class="search_input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索活动" name="search_value" value="{{ form_data.search_value }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default search_input_btn" type="submit">搜索</button>
                    </span>
                  </div><!-- /input-group -->
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <a href="{% url 'add_campaign' %}" class="btn btn-info" >添加活动 <span class="glyphicon glyphicon-plus"></span></a>
        <button type="button" class="btn btn-default choose_datas">选择全部<span class="glyphicon glyphicon-saved"></span></button>
        <button type="button" class="btn btn-danger delete_brands" >删除<span class="glyphicon glyphicon-trash"></span></button>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row" style="padding: 15px;overflow: auto">
    <div class="col-md-3">
        <div class="list-group">
            <!-- <a href="{% url 'categorie_manage' %}?page={{ current_page }}&is_hot={{ i.is_hot }}" class="list-group-item active">
                    <span class="badge">3</span>
                    热门分类
            </a> -->
            {% for i in location_list %}
                {% if form_data.location == i.location %}
                    <a href="{% url 'campaigns_manage' %}?page={{ current_page }}&location={{ i.location }}" class="list-group-item active">
                            <span class="badge">{{ i.c }}</span>
                            {{ i.location }}
                    </a>
                {% else %}
                    <a href="{% url 'campaigns_manage' %}?page={{ current_page }}&location={{ i.location }}" class="list-group-item">
                        <span class="badge">{{ i.c }}</span>
                        {{ i.location }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-md-9" >
        <div class="row">
            {% for i in data_list %}
                <div class="col-md-4 data_list" >
                    <div class="thumbnail">
                        <input type="checkbox">
                        <img src="{% build_photo_url i.campaigns_photo_id %}" alt="..." style="width: 150px;height: 150px;">
                        <div class="caption">
                            <a href="{% url 'editor_campaign' %}?data_id={{i.campaign_id}}&back_url={{request.get_full_path}}"><strong>{% str_step i.campaign_name 13 %}</strong></a>
                            <p>开始：{% parse_timestamps i.start_time %}</p>
                            <p>结束：{% parse_timestamps i.end_time %}</p>
                            <p>活动位置：{{ i.location }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination page_box">
                    {% Pagingfunc current_page data_count filter_args request.path as page %}
                    {{ page | safe }}<p>当前页{{ data_list|length }}/共{{ data_count }}条数据</p>
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $(function(){
        $('.campaigns_manage').addClass('active')
        $('.choose_datas').click(function(){
            var text =  $(this).text()
            var $data_list = $('.data_list')
            if(text == '选择全部'){
                $data_list.each(function(index, item){
                    var $f =  $(item).children().find('input[type="checkbox"]')
                    $f.prop('checked', true)
                })
                $(this).html('取消全部<span class="glyphicon glyphicon-saved"></span>')
            }else{
                $data_list.each(function(index, item){
                    var $f =  $(item).children().find('input[type="checkbox"]')
                    $f.prop('checked', false)
                })
                $(this).html('选择全部<span class="glyphicon glyphicon-saved"></span>')
            }
            
        })
        $('.delete_brands').click(function(){
            var $item_list = $('.data_list')
            var brand_ids_list = []
            $item_list.each(function(index, item){
                var f =  $(item).children().find('input[type="checkbox"]')
                var is_checked = $(f).prop('checked')
                if(is_checked){
                    brand_ids_list.push($(f).attr('item-id'))
                }
            })
            if(brand_ids_list.length>0){
                $.post(
                    '{% url "delete_brands" %}',
                    {'brand_ids_list': brand_ids_list, 'csrfmiddlewaretoken': getCookie('csrftoken')},
                    function(value){
                        if(value.status == 'success'){
                            location.reload()
                        }else{
                            alert(value.message)
                        }
                    },
                    'json'
                )
            }
        })
    })
    
</script>
   
{% endblock %}