{% extends '../a_layout.html' %}
{% load ui_method %}
{% block css %}
<style>
    table{
    table-layout:auto;
    }
    th{
        word-break:keep-all;
        white-space:nowrap;
    }
    td{
    /* width:100%; */
    word-break:keep-all;
    white-space:nowrap;
    }
</style>
{% endblock %}
{% block title %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="{% url 'order_manage' %}">商品出库表</a></li>
    <li role="presentation"><a href="{% url 'item_qr_Code_manage' %}">物码查询</a></li>
    <li role="presentation"><a href="{% url 'recv_manage' %}">收货方管理</a></li>
    <li role="presentation" class="active"><a href="{% url 'batch_qr_code_manage' %}">二维码生成</a></li>
</ul>         
{% endblock %}
{% block page_header %}
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 扫码出库</a></li>
    <li><a href="#"><i class="fa fa-dashboard"></i> 二维码生成</a></li>
</ol>
{% endblock %}

{% block content_title %}
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">创建收货方</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="" class="recv_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">收货方编码:</label>
                        <input type="text" class="form-control" id="recipient-name" name="recv_code">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">收货方名称:</label>
                        <input type="text" class="form-control" id="recipient-name" name="recv_addr">
                    </div>
                </form>
                <span class="return_msg_box" style="color: red"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary submit_btn" >提交</button>
            </div>
            </div>
        </div>
    </div> -->

<div class="row">
    <div class="col-md-8">
        <div "row">
            <div class="col-md-8">
                
                <a class="btn btn-info add_recv_btn" type="button" href="{% url 'create_batch_qr_code' %}">批量生成二维码 <span class="glyphicon glyphicon-plus"></span></a>
                <button type="button" class="btn btn-default choose_member" type="button">选择<span class="glyphicon glyphicon-saved"></span></button>
                <button type="button" class="btn btn-danger delete_recv" type="button">删除<span class="glyphicon glyphicon-trash"></span></button>
                <!-- <form action="" method="GET" class="search_input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索收货方" name="search_value" value="{{ search_value }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default search_input_btn" type="submit">搜索</button>
                    </span>
                  </div>
                </form> -->
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        
    </div>
</div>
{% endblock %}
{% block content %}

<div class="row" style="padding: 15px;">
        <div class="col-md-12" role="main">
        
        <div class="bs-docs-section">
    
            <div class="table-responsive">
                <table class="table table-bordered table-striped recv_table">
                  
                  <thead>
                    <tr>
                      {% for i in table_head %}
                        <th>{% get_value_by_key table_head i %}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in data_list %}
                        <tr>
                            {% for j in table_head %}
                                {% if j != 'more' %}
                                    {% if j == 'recv_code' %}
                                        {% get_value_by_key i j as recv_code %}
                                        <td>{% get_recv_addr_by_code recv_code %}</td>
                                    {% elif j == 'batch_qr_code_id' %}
                                        <td><input type="checkbox" style="display: none;">  {% get_value_by_key i j %}</td>
                                    {% elif j == 'create_member' %}
                                        {% get_value_by_key i j as menber_id %}
                                        <td>{% get_menber_by_id menber_id %}</td>
                                    {% else %}
                                        <td>{% get_value_by_key i j %}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <td><a href="{% url 'create_batch_qr_code' %}?data_id={{ i.batch_qr_code_id }}">编辑</a> | <a href="{% url 'download_qr_code_file' i.batch_qr_code_id %}">下载二维码</a></td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>

<div>
    <nav aria-label="Page navigation">
        <ul class="pagination page_box">
            {% Pagingfunc current_page data_count filter_args request.uri as page %}
            {{ page | safe }}<p>当前页{{ data_list|length }}/共{{ data_count }}条数据</p>
        </ul>
    </nav>
</div>


{% endblock %}

{% block js %}
    <script>
    $(function(){
        $('.order_manage').addClass('active')
        $('.add_recv_btn').click(function(){
            $('.modal-title').text('创建收货方')
            $('.submit_btn').unbind()
            $('.submit_btn').click(function(){
                add_or_edit_recv(false)
            })
        })
        $('.delete_recv').unbind()
        $('.delete_recv').click(delete_recv)
        $('.choose_member').click(function(){
            var tr =  $('.recv_table tbody tr')
            $.each(tr,function(index,item){
                var $ltd = $(item).children().first().find('input')
                if($ltd.css('display')=='none'){
                    $ltd.css('display','inline-block')
                }else{
                    $ltd.css('display','none')
                }
                
            })
            
        })
        $('.edit_recv').unbind()
        $('.edit_recv').click(
            get_edit_recv_info
        )
    })


    function delete_recv(){
        var tr =  $('.recv_table tbody tr')
        var data_id_list = []
        $.each(tr,function(index,item){
            var $ltd = $(item).children().first().find('input')
            var $ftd = $(item).children().first().text().trim()
            if($ltd.css('display')=='inline-block' && $ltd.prop('checked')){
                data_id_list.push($ftd)
            }
        })
        if(data_id_list.length>0){
            $.post(
                '{% url "delete_batch_qr_code" %}',
                {'data_id_list':data_id_list, 'csrfmiddlewaretoken':getCookie('csrftoken')},
                function(value){
                    if(value.status == 'success'){
                        location.reload()
                    }else{
                        alert(value.message)
                    }
                },
                'json'
            )
        }
    }

    
    

    </script>
{% endblock %}