{% extends '../a_layout.html' %}
{% load ui_method %}
{% block css %}
<style>
    table{
    table-layout:auto;
    }
    th{
        word-break:keep-all;
        white-space:nowrap;
    }
    td{
    /* width:100%; */
    word-break:keep-all;
    white-space:nowrap;
    }
</style>
{% endblock %}
{% block title %}
收获方管理            
{% endblock %}
{% block page_header %}
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 收获方管理</a></li>
</ol>
{% endblock %}

{% block content_title %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">创建收货方</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="" class="recv_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">收货方编码:</label>
                        <input type="text" class="form-control" id="recipient-name" name="recv_code">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">收货方名称:</label>
                        <input type="text" class="form-control" id="recipient-name" name="recv_addr">
                    </div>
                </form>
                <span class="return_msg_box" style="color: red"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary submit_btn" >提交</button>
            </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-8">
        <div "row">
            <div class="col-md-8">
                <form action="" method="GET" class="search_input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索收货方" name="search_value" value="{{ search_value }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default search_input_btn" type="submit">搜索</button>
                    </span>
                  </div><!-- /input-group -->
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-info add_recv_btn" type="button" data-toggle="modal" data-target="#exampleModal" >添加收货方 <span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-default choose_member" type="button">选择<span class="glyphicon glyphicon-saved"></span></button>
        <button type="button" class="btn btn-danger delete_recv" type="button">删除<span class="glyphicon glyphicon-trash"></span></button>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="row" style="padding: 15px;">
        <div class="col-md-12" role="main">
        
        <div class="bs-docs-section">
    
            <div class="table-responsive">
                <table class="table table-bordered table-striped recv_table">
                  <colgroup>
                    <col class="col-xs-1">
                    <col class="col-xs-1">
                    <col class="col-xs-4">
                    <col class="col-xs-2">
                  </colgroup>
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>编码</th>
                      <th>收货方名称</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for code in data_list %}
                    <tr>
                        <th scope="row">{{ code.recv_id }}</th>
                        <td>{{ code.recv_code }}</td>
                        <td>{{ code.recv_addr }}</td>
                        <td>
                            <a id="id_set_watch" onclick="javascript:setWatch('{{ code.recv_id }}');" href="javascript:;">
                            {% if code.is_watch %}取消重点关注{% else %}加重点关注{% endif %}</a>
                        |   <a href="javascript:;" class="edit_recv"  data-toggle="modal" data-target="#exampleModal">编辑</a>
                        </td>
                        <td style='display: none'><input type='checkbox'></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>

<div>
    <nav aria-label="Page navigation">
        <ul class="pagination page_box">
            {% Pagingfunc current_page data_count filter_args request.uri as page %}
            {{ page | safe }}
        </ul>
    </nav>
</div>


{% endblock %}

{% block js %}
    <script>
    $(function(){
        $('.recv_manage').addClass('active')
        $('.add_recv_btn').click(function(){
            $('.modal-title').text('创建收货方')
            $('.submit_btn').unbind()
            $('.submit_btn').click(function(){
                add_or_edit_recv(false)
            })
            
        })
        $('.delete_recv').unbind()
        $('.delete_recv').click(delete_recv)
        $('.choose_member').click(function(){
            var tr =  $('.recv_table tbody tr')
            $.each(tr,function(index,item){
                var $ltd = $(item).children().last()
                if($ltd.css('display')=='none'){
                    $ltd.css('display','block')
                }else{
                    $ltd.css('display','none')
                }
                
            })
            
        })
        $('.edit_recv').unbind()
        $('.edit_recv').click(
            get_edit_recv_info
        )
    })
    
    function setWatch(cid) {
        $.post(
            "{% url 'set_recv_watch' %}",
            {'cid': cid, 'csrfmiddlewaretoken':getCookie('csrftoken') },
            function(r) {
                location.href = location.href;
        });
    }


    function add_or_edit_recv(is_edit){
        var post_url = is_edit ? '{% url "edit_recv" %}?recv_id=' + recv_id : '{% url "create_recv" %}'
        var $input_list = $('.recv_form input')
        var data_dict = {}
        $input_list.each(function(index,item){
            var input_value = $(item).val().trim()
            data_dict[$(item).attr('name')]=input_value
            
        })
        data_dict['csrfmiddlewaretoken'] = getCookie('csrftoken');
        $.post(
            post_url,
            data_dict,
            function(value){
                if(value.status == 'success'){
                    $('#exampleModal').modal('hide')
                    location.reload()
                }else{
                    $('.return_msg_box').text(value.message)
                }
            },
            'json'
        )
        
    }

    function delete_recv(){
        var tr =  $('.recv_table tbody tr')
        var recv_id_list = []
        $.each(tr,function(index,item){
            var $ltd = $(item).children().last()
            var $ftd = $(item).children().first()
            var $check_box = $ltd.children()
            if($ltd.css('display')=='block' && $check_box.prop('checked')){
                recv_id_list.push($ftd.text())
            }
        })
        if(recv_id_list.length>0){
            $.post(
                '{% url "delete_recv" %}',
                {'recv_id_list':recv_id_list, 'csrfmiddlewaretoken':getCookie('csrftoken')},
                function(value){
                    if(value.status == 'success'){
                        location.reload()
                    }else{
                        alert(value.message)
                    }
                },
                'json'
            )
        }
    }

    // 获取待编辑用户信息
    var recv_id = null
    function get_edit_recv_info(){
        $('.modal-title').text('编辑收货方')
        recv_id = $(this).parent().parent().children().first().text()
        var data_dict = null
        $.get(
            '{% url "edit_recv" %}?recv_id='+recv_id,
            function(value){
                if(value.status == 'success'){
                    data_dict = value.data
                    $('#exampleModal').modal('show')
                    var $input_list = $('.recv_form input')
                    $input_list.each(function(index, item){
                        $(item).attr('old_value', data_dict[$(item).attr('name')])
                        $(item).val(data_dict[$(item).attr('name')])
                    })
                    $('.submit_btn').unbind()
                    $('.submit_btn').click(function(){
                        add_or_edit_recv(true)
                    })
                }else{
                    alert(value.message)
                }
            },
            'json'
        )
        
    }
       

    </script>
{% endblock %}