<div id="">
        <p><strong>订单单号:{{ data_list.order_num }}</strong></p>
        <div class="row">
            <div class="col-md-6">
                <p>收货地址: {{ data_list.recv_addr.address }}</p>
                <p>下单时间: {{ data_list.create_time }}</p>
            </div>
            <div class="col-md-6">
                <p>支付时间: {{ data_list.pay_time }}</p>
                <p>订单状态: {{ data_list.order_status }}</p>
            </div>
        </div>
    <p></p>
    <hr>
    <p></p>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>商品名</th>
                <th>价格</th>
                <th>数量</th>
            </tr>
            {% for i in data_list.goods %}
            <tr>
                <td>{% if i.item_name %}{{ i.item_name }}{% else %}未查询到商品信息{% endif %}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.item_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p></p>
    <hr>
    <p></p>
    <p>买家备注:{{ data_list.member_message }}</p>
    <p>共计: {{ data_list.all_price }}</p>
</div>
    