<div id="">
    <p><strong>用户名：{{ code_data.stock_batch_id }}</strong></p>
    <p></p>
    <hr>
    <p></p>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>地址</th>
                <th>手机号</th>
                <th>收件人姓名</th>
                <th>默认收件地址</th>
            </tr>
            {% for i in code_data.item_code_list %}
            <tr>
                <td>{% if i.item_name %}{{ i.item_name }}{% else %}未查询到商品信息{% endif %}</td>
                <td>{{ i.item_barcode }}</td>
                <td>{{ i.item_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p></p>
    <hr>
    <p></p>
    <p>共计: {{ code_data.all_count }}</p>
</div>
    