{% extends '../a_layout.html' %}
{% load ui_method %}
{% block css %}
<style>
    table{
    table-layout:auto;
    }
    th{
        word-break:keep-all;
        white-space:nowrap;
    }
    td{
    /* width:100%; */
    word-break:keep-all;
    white-space:nowrap;
    }
</style>
{% endblock %}
{% block title %}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="{% url 'member_manage' %}">用户表</a></li>
    <li role="presentation"><a href="{% url 'recv_addr_manage' %}">用户收货地址</a></li>
</ul>              
{% endblock %}
{% block page_header %}
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 用户管理</a></li>
    <li><a href="#"><i class="fa fa-dashboard"></i> 用户表</a></li>
</ol>
{% endblock %}

{% block content_title %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">CreateUser</h4>
        </div>
        <div class="modal-body">
            <form method="post" action="" class="member_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="recipient-name" class="control-label">用户名:</label>
                    <input type="text" class="form-control" id="recipient-name" name="member_name">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">手机号:</label>
                    <input type="text" class="form-control" id="recipient-name" name="telephone">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">密码:</label>
                    <input type="password" class="form-control" id="recipient-name" name="password1">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">确认密码:</label>
                    <input type="password" class="form-control" id="recipient-name" name="password2">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">绑定店铺:</label>
                    <select name="bind_recv" class="form-control">
                        <option value="">---选择店铺---</option>
                        {% for i in recv_data_list %}
                            <option value="{{ i.0 }}">{{ i.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <div class="form-group">
                        <label for="" class="control-label">是否管理员:</label>
                        <input type="checkbox"  id="recipient-name" name="is_admin">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="" class="control-label">是否为内部账号:</label>
                        <input type="checkbox"  id="recipient-name" name="is_staff">
                    </div>
                </div>
            </form>
            <span class="return_msg_box" style="color: red"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary submit_btn" >Submit</button>
        </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-8">
                <form action="" method="GET" class="search_input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索手机号或着用户名" name="search_value" value="{{ search_value }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default search_input_btn" type="submit">搜索</button>
                    </span>
                  </div><!-- /input-group -->
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-info add_member_btn" type="button" data-toggle="modal" data-target="#exampleModal" >添加用户 <span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-default choose_member" type="button">选择<span class="glyphicon glyphicon-saved"></span></button>
        <button type="button" class="btn btn-danger delete_member" type="button">删除<span class="glyphicon glyphicon-trash"></span></button>
    </div>
</div>
{% endblock %}

{% block content %}

<div style="overflow: auto;padding: 15px;"> 
    <table class="table table-striped member_table" >
        <head>
            <tr>
                {% for key, value in table_head.items %}
                    <th>{{ value }}</th>
                {% endfor %}
            </tr>
        </head>
        <tbody>
            {% for i in member_list %}
            <tr>
                {% for key, value in table_head.items %}
                    {% if key != 'more' %}
                        <td>{% get_value_by_key i key %}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <a class='edit_member' style='cursor:pointer;text-decoration:none;'><span class="glyphicon glyphicon-pencil"></span> 编辑</a>
                    <a href="{% url 'add_member_remarks' %}?data_id={{ i.member_id }}" class='editor_remarks' style='cursor:pointer;text-decoration:none;'><span class="glyphicon glyphicon-tag"></span>备注</a>
                </td> 
                <td style='display: none'><input type='checkbox'></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <nav aria-label="Page navigation">
        <ul class="pagination page_box">
            {% Pagingfunc current_page member_count filter_args uri as page %}
            {{ page | safe }}<p>当前页{{ member_list|length }}/共{{ member_count }}条数据</p>
        </ul>
    </nav>
</div>


{% endblock %}

{% block js %}
    <script>
        $(function(){
            $('.member_manage').addClass('active')
            // init_table()
            $('.add_member_btn').click(function(){
                $('.modal-title').text('创建用户')
                $('.submit_btn').unbind()
                $('.submit_btn').click(function(){
                    add_or_edit_member(false)
                })
            })
            $('.choose_member').click(function(){
                var tr =  $('.member_table tbody tr')
                $.each(tr,function(index,item){
                    var $ltd = $(item).children().last()
                    if($ltd.css('display')=='none'){
                        $ltd.css('display','block')
                    }else{
                        $ltd.css('display','none')
                    }
                    
                })
                
            })
            $('.delete_member').click(delete_member)
            $('.edit_member').click(get_edit_member_info)
        })
        
 

        // 删除用户按钮
        function delete_member(){
            var tr =  $('.member_table tbody tr')
            var member_id_list = []
            $.each(tr,function(index,item){
                    var $ltd = $(item).children().last()
                    var $ftd = $(item).children().first()
                    var $check_box = $ltd.children()
                    if($ltd.css('display')=='block' && $check_box.prop('checked')){
                        member_id_list.push($ftd.text())
                    }
                })
            if(member_id_list.length>0){
                $.post(
                    '{% url "delete_member" %}',
                    {'member_id_list':member_id_list, 'csrfmiddlewaretoken':getCookie('csrftoken')},
                    function(value){
                        if(value.status == 'success'){
                            location.reload()
                        }else{
                            alert(value.message)
                        }
                    },
                    'json'
                )
            }
        }

        // 获取待编辑用户信息
        var member_id = null
        function get_edit_member_info(){
            $('.modal-title').text('编辑用户')
            member_id = $(this).parent().parent().children().first().text()
            var data_dict = null
            $.get(
                '{% url "edit_member" %}?member_id='+member_id,
                function(value){
                    if(value.status == 'success'){
                        data_dict = value.data
                        $('#exampleModal').modal('show')
                        var $input_list = $('.member_form input')
                        $input_list.each(function(index, item){
                            $(item).attr('old_value', data_dict[$(item).attr('name')])
                            $(item).val(data_dict[$(item).attr('name')])
                        })
                        if(data_dict['is_admin']){
                            $('input[name="is_admin"]').prop('checked', true)        
                        }else{
                            $('input[name="is_admin"]').prop('checked', false)  
                        }
                        if(data_dict['is_staff']){
                            $('input[name="is_staff"]').prop('checked', true)        
                        }else{
                            $('input[name="is_staff"]').prop('checked', false)  
                        }
                        let $select_options = $('select[name="bind_recv"] option')
                        $select_options.each(function(index, item){
                            if(data_dict['bind_recv']==$(item).val()){
                                $(item).prop('selected', true)
                            }
                        })
                        $('.submit_btn').unbind()
                        $('.submit_btn').click(function(){
                            add_or_edit_member(true)
                        })
                    }else{
                        alert(value.message)
                    }
                },
                'json'
            )
            
        }

        //添加用户或着编辑用户
        function add_or_edit_member(is_edit){
            var post_url = is_edit ? '{% url "edit_member" %}?member_id=' + member_id : '{% url "create_member" %}'
            var $input_list = $('.member_form input')
            var $select_list = $('.member_form select')
            var data_dict = {}
            $input_list.each(function(index,item){
                var input_value = $(item).val().trim()
                if(is_edit){
                    data_dict['member_id'] = member_id
                    data_dict[$(item).attr('name')]=input_value
                    
                }else{
                    data_dict[$(item).attr('name')]=input_value
                }
                
            })
            $select_list.each(function(index, item){
                let select_value = $(item).val()
                if(is_edit){
                    data_dict['member_id'] = member_id
                    data_dict[$(item).attr('name')]=select_value
                    
                }else{
                    data_dict[$(item).attr('name')]=select_value
                }
            })
            data_dict['csrfmiddlewaretoken'] = getCookie('csrftoken');
            if($('input[name="is_admin"]').prop('checked')){
                data_dict['is_admin'] = true
            }else{
                data_dict['is_admin'] = false
            }
            if($('input[name="is_staff"]').prop('checked')){
                data_dict['is_staff'] = true
            }else{
                data_dict['is_staff'] = false
            }
            $.post(
                post_url,
                data_dict,
                function(value){
                    if(value.status == 'success'){
                        $('#exampleModal').modal('hide')
                        location.reload()
                    }else{
                        $('.return_msg_box').text(value.message)
                    }
                },
                'json'
            )
        }

    </script>
{% endblock %}