{% extends '../a_layout.html' %}
{% load ui_method %}
{% block css %}
<style>
    table{
    table-layout:auto;
    }
    th{
        word-break:keep-all;
        white-space:nowrap;
    }
    td{
    /* width:100%; */
    word-break:keep-all;
    white-space:nowrap;
    }
</style>
{% endblock %}
{% block title %}
用户地址管理            
{% endblock %}
{% block page_header %}
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>用户地址管理</a></li>
</ol>
{% endblock %}

{% block content_title %}


<div class="row">
    <div class="col-md-8">
        <div "row">
            <div class="col-md-8">
                <form action="" method="GET" class="search_input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索用户ID" name="search_value" value="{{ search_value }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default search_input_btn" type="submit">搜索</button>
                    </span>
                  </div><!-- /input-group -->
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- <button type="button" class="btn btn-info add_recv_btn" type="button" data-toggle="modal" data-target="#exampleModal" >添加收货方 <span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-default choose_member" type="button">选择<span class="glyphicon glyphicon-saved"></span></button>
        <button type="button" class="btn btn-danger delete_recv" type="button">删除<span class="glyphicon glyphicon-trash"></span></button> -->
    </div>
</div>
{% endblock %}
{% block content %}

<div class="row" style="padding: 15px;">
        <div class="col-md-12" role="main">
        
        <div class="bs-docs-section">
    
            <div class="table-responsive">
                <table class="table table-bordered table-striped recv_table">
                  <!-- <colgroup>
                    <col class="col-xs-1">
                    <col class="col-xs-1">
                    <col class="col-xs-1">
                  </colgroup> -->
                  <thead>
                    <tr>
                      {% for i in default_table_head %}
                        <th>{% get_value_by_key default_table_head i %}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in data_list %}
                    <tr>
                        {% for i in default_table_head %}
                            <td>{% get_value_by_key data i %}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>

<div>
    <nav aria-label="Page navigation">
        <ul class="pagination page_box">
            {% Pagingfunc current_page data_count filter_args request.uri as page %}
            {{ page | safe }}<p>当前页{{ data_list|length }}/共{{ data_count }}条数据</p>
        </ul>
    </nav>
</div>
<div id="modalItemCodes" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="id_modal_content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">用户收货地址</h4>
        </div>
        <div class="modal-body" id="id_modal_body">
            <p><i class="fa fa-refresh fa-spin" style="font-size: 24px;"></i></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}

{% block js %}
    <script>
    $(function(){
        $('.out_order_manage').addClass('active')
        $('#modalItemCodes').on('show.bs.modal', (e) => {
            let btn = $(e.relatedTarget);
            let data_id = btn.data('dataid');
            $('#id_modal_body').load('{% url "jm_recv_addr_info" %}?data_id=' + data_id, (res, status, xhr) => {
                if (status == "error") {
                    $('#id_modal_body').html('<p>加载数据时出错, 请稍后再试</p>');
                    return;
                }
            });
        });  
    })
    
       

    </script>
{% endblock %}