{% extends '../a_layout.html' %}
{% load ui_method %}
{% block css %}
<link rel="stylesheet" href="/static/css/myadmin/daterangepicker.css">
<style>
    table{
    table-layout:auto;
    }
    th{
        word-break:keep-all;
        white-space:nowrap;
    }
    td{
    /* width:100%; */
    word-break:keep-all;
    white-space:nowrap;
    }
</style>
{% endblock %}
{% block title %}
用户订单表            
{% endblock %}
{% block page_header %}
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 用户订单表</a></li>
</ol>
{% endblock %}

{% block content_title %}

<form action="" method="GET" class="filter_form">
    <div class="row">
        <div class="col-md-8">
            <div "row">
                <div class="col-md-3" style="padding-right: 0">
                    <select name="datetime_typpe" id="" class="form-control">
                        <option value="">按创建时间</option>
                        <option value="">按支付时间</option>
                    </select>
                </div>
                <div class="col-md-6" style="padding-left: 0">
                    <!-- <div class="input-group"> -->
                        <input type="datetime" class="form-control datetime" name="datetime" placeholder="点击选择时间">
                        <!-- <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">过滤</button>
                        </span> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">     
        <div class="input-group" style="padding-right: 12px;">
            <input type="text" class="form-control" placeholder="搜索订单号" name="search_value" value="{{ from_data.search_value }}">
            <span class="input-group-btn">
                <button class="btn btn-default search_input_btn" type="submit">搜索</button>
            </span>
        </div><!-- /input-group -->
        </div>
    </div>

    <div "row">
        <!-- 更多过滤条件 -->
        <br>
        <br>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4" style="padding-right: 0">
                    <select name="order_status" class="form-control filter_select">
                        <option value="">订单状态</option>
                        {% for i in order_status %}
                            {% if i.0 == from_data.order_status %}
                                <option value="{{ i.0 }}" selected>{{ i.1 }}</option>
                            {% else %}
                                <option value="{{ i.0 }}">{{ i.1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4" style="padding-right: 0;padding-left: 0;">
                    <select name="pay_status" class="form-control filter_select">
                        <option value="">支付状态</option>
                        <option value="paid,shipped,received" {% if from_data.pay_status == 'paid,shipped,received' %}selected{% endif %}>已经支付</option>
                        <option value="new" {% if from_data.pay_status == 'new' %}selected{% endif %}>未支付</option>
                        <option value="close" {% if from_data.pay_status == 'close' %}selected{% endif %}>交易关闭</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3" >
            <button type="button" class="btn btn-info choose_user_order" type="button">选择全部<span class="glyphicon glyphicon-saved"></span></button>
            <button type="button" class="btn btn-danger delete_user_order" type="button">删除<span class="glyphicon glyphicon-trash"></span></button>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}

    <div class="row" style="padding: 15px">
    <div class="col-md-12" role="main" >
        
    <div class="bs-docs-section">
        {% for i in data_list %}
        <div class="panel panel-default user_order_list">
            <div class="panel-heading"><input type="checkbox" class="item_checkbox" item-id={{i.order_num}}>订单号:{{i.order_num}}  <span style="padding-left: 30px">下单时间:{{i.create_time}}</span><span style="padding-left: 30px">客户:{{i.member_id}}</span></div>
            <div class="panel-body">
                <div class="media-left">
                    <!-- <a href="#">
                        <img class="media-object" src="{% build_photo_url i.photo_id %}" style="width: 100px; height: 100px;">
                    </a> -->
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            包裹信息
                            <br>
                            <br>
                            {% for j in i.goods %}
                                <a style="float: left;display: block;">
                                    <img src="{% build_photo_url i.photo_id %}" alt="" style="width: 40px; height: 40px;">
                                </a>
                                <div >
                                    <div class="row">
                                        <span style="padding-left: 10px">
                                            {{j.item_name}}
                                        </span>
                                        <div class="row">
                                            <span style="color: darkgray;font-size: 12px;padding-left: 15px;">数量：{{j.item_count}} 单价：{{j.price}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                            {% endfor %}
                        </div>
                        <div class="col-md-2">
                            <br>
                            {{i.all_price}}
                        </div>
                        <div class="col-md-2">
                            <br>
                            <div class="order_status_div" style="display: block">
                                {{ i.order_status }}
                            </div>
                            <select name="order_status" class="form-control order_status_selcet" style="display: none">
                                <option value="">订单状态</option>
                                {% for j in order_status %}
                                    {% if j.1 == i.order_status %}
                                        <option value="{{ j.0 }}" selected>{{ j.1 }}</option>
                                    {% else %}
                                        <option value="{{ j.0 }}">{{ j.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <br>
                            <div class="row">
                                <a href="#modalItemCodes" data-toggle="modal" data-target="#modalItemCodes" data-ordernum="{{ i.order_num }}">详情</a>
                            </div>
                            <div class="row">
                                <a style="cursor: pointer" class="editor_order_status" data-ordernum="{{i.order_num}}">编辑状态</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>

    <div id="modalItemCodes" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="id_modal_content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">订单信息</h4>
            </div>
            <div class="modal-body" id="id_modal_body" style="overflow: auto">
                <p><i class="fa fa-refresh fa-spin" style="font-size: 24px;"></i></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<div>
    <nav aria-label="Page navigation">
        <ul class="pagination page_box">
            {% Pagingfunc current_page data_count filter_args request.uri as page %}
            {{ page | safe }}
        </ul>
    </nav>
</div>


{% endblock %}

{% block js %}
    <script src="/static/js/myadmin/daterangepicker.js"></script>
    <script>
        $(function(){
            $('.user_order_manage').addClass('active')
            $('#modalItemCodes').on('show.bs.modal', (e) => {
                let btn = $(e.relatedTarget);
                let ordernum = btn.data('ordernum');
                $('#id_modal_body').load('{% url "jm_user_order_info" %}?data_id=' + ordernum, (res, status, xhr) => {
                    if (status == "error") {
                        $('#id_modal_body').html('<p>加载数据时出错, 请稍后再试</p>');
                        return;
                    };
                });
            });
            $('.datetime').daterangepicker({
                locale : {  
                        applyLabel : '确定',  
                        cancelLabel : '取消',  
                        fromLabel : '起始时间',  
                        toLabel : '结束时间',  
                        customRangeLabel : '自定义',  
                        daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],  
                        monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',  
                                    '七月', '八月', '九月', '十月', '十一月', '十二月' ],  
                        firstDay : 1  
                },
            });
            var datevalue = '{{from_data.datetime}}'
            if(datevalue){ 
                datevalue = datevalue.split(' - ')
                $('.datetime').data('daterangepicker').setStartDate(datevalue[0])
                $('.datetime').data('daterangepicker').setEndDate(datevalue[1])
            }
            $('.filter_form .filter_select').change(
                function(){
                    $('.filter_form').submit()
                }
            )
            $('.filter_form .datetime').change(
                function(){
                    $('.filter_form').submit()
                }
            )
            $('.choose_user_order').click(function(){
                var text =  $(this).text()
                var $categories_list = $('.user_order_list')
                if(text == '选择全部'){
                    $categories_list.each(function(index, item){
                        var $f =  $(item).children().find('input[type="checkbox"]')
                        $f.prop('checked', true)
                    })
                    $(this).html('取消全部<span class="glyphicon glyphicon-saved"></span>')
                }else{
                    $categories_list.each(function(index, item){
                        var $f =  $(item).children().find('input[type="checkbox"]')
                        $f.prop('checked', false)
                    })
                    $(this).html('选择全部<span class="glyphicon glyphicon-saved"></span>')
                }
                
            })
            $('.delete_user_order').click(delete_user_order)
            $('.editor_order_status').unbind()
            $('.editor_order_status').click(function(){
                if($(this).text()=='编辑状态'){
                    $(this).text('确认')
                    $(this).parent().parent().prev().find('.order_status_selcet').css('display', 'block')
                    $(this).parent().parent().prev().find('.order_status_div').css('display', 'none')
                }else{
                    $(this).text('编辑状态')
                    $(this).parent().parent().prev().find('.order_status_selcet').css('display', 'none')
                    $(this).parent().parent().prev().find('.order_status_div').css('display', 'block')
                    $(this).parent().parent().prev().find('.order_status_div').text($(this).parent().parent().prev().find('.order_status_selcet').find('option:selected').text())
                    let select_var = $(this).parent().parent().prev().find('.order_status_selcet').val()
                    let order_num = $(this).data('ordernum')
                    $.post(
                        "{% url 'change_order_status'%}",
                        {'order_num': order_num, 'order_status': select_var, 'csrfmiddlewaretoken': getCookie('csrftoken')},
                        function(data){
                            if(data.status=='success'){

                            }else{
                                
                            }
                        },
                        'json',
                    )
                    
                }
            })
        })
        function delete_user_order(){
            var $item_list = $('.user_order_list')
            var order_num_list = []
            $item_list.each(function(index, item){
                var f =  $(item).children().find('input[type="checkbox"]')
                var is_checked = $(f).prop('checked')
                if(is_checked){
                    order_num_list.push($(f).attr('item-id'))
                }
            })
            if(order_num_list.length>0){
                $.post(
                    "{% url 'delete_user_order' %}",
                    {'order_num_list': order_num_list, 'csrfmiddlewaretoken': getCookie('csrftoken')},
                    function(value){
                        if(value.status == 'success'){
                            location.reload()
                        }else{
                            alert(value.message)
                        }
                    },
                    'json'
                )
            }
        }
    </script>
{% endblock %}