{% extends '../a_layout.html' %}
{% load ui_method %}
{% block css %}
<link rel="stylesheet" href="/static/css/myadmin/daterangepicker.css">
<style>
    table{
    table-layout:auto;
    }
    th{
        word-break:keep-all;
        white-space:nowrap;
    }
    td{
    /* width:100%; */
    word-break:keep-all;
    white-space:nowrap;
    }
</style>
{% endblock %}
{% block title %}
用户订单表            
{% endblock %}
{% block page_header %}
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 用户订单表</a></li>
</ol>
{% endblock %}

{% block content_title %}

<form action="" method="GET" class="filter_form">
    <div class="row">
        <div class="col-md-8">
            <div "row">
                <div class="col-md-3" style="padding-right: 0">
                    <select name="datetime_typpe" id="" class="form-control">
                        <option value="">按创建时间</option>
                        <option value="">按支付时间</option>
                    </select>
                </div>
                <div class="col-md-6" style="padding-left: 0">
                    <div class="input-group">
                        <input type="datetime" class="form-control datetime" name="datetime">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">过滤</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">     
        <div class="input-group">
            <input type="text" class="form-control" placeholder="搜索订单号" name="search_value" value="{{ from_data.search_value }}">
            <span class="input-group-btn">
                <button class="btn btn-default search_input_btn" type="submit">搜索</button>
            </span>
        </div><!-- /input-group -->
        </div>
    </div>
    <div "row">
        <!-- 更多过滤条件 -->
        <br>
        <br>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4" style="padding-right: 0">
                    <select name="order_status" class="form-control filter_select">
                        <option value="">订单状态</option>
                        {% for i in order_status %}
                            {% if i.0 == from_data.order_status %}
                                <option value="{{ i.0 }}" selected>{{ i.1 }}</option>
                            {% else %}
                                <option value="{{ i.0 }}">{{ i.1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- <div class="col-md-4" style="padding-right: 0">
                    <select name="order_status" class="form-control">
                        <option value="new">支付状态</option>
                    </select>
                </div> -->
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}

    <div class="row" style="padding: 15px">
    <div class="col-md-12" role="main" >
        
    <div class="bs-docs-section">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <colgroup>
                <col class="col-xs-1">
                <col class="col-xs-1">
                <col class="col-xs-1">
                <col class="col-xs-1">
                <col class="col-xs-1">
                </colgroup>
                <thead>
                <tr>
                    <th>订单号</th>
                    <th>用户ID</th>
                    <th>订单状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for data in data_list %}
                <tr>
                    <th scope="row">{{ data.order_num }}</th>
                    <td>{{ data.member_id }}</td>
                    <td>{{ data.order_status }}</td>
                    <td>{% parse_timestamps data.create_time %}</td>
                    <td><a href="#modalItemCodes" data-toggle="modal" data-target="#modalItemCodes" data-ordernum="{{ data.order_num }}">详情</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalItemCodes" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="id_modal_content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">订单信息</h4>
            </div>
            <div class="modal-body" id="id_modal_body" style="overflow: auto">
                <p><i class="fa fa-refresh fa-spin" style="font-size: 24px;"></i></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<div>
    <nav aria-label="Page navigation">
        <ul class="pagination page_box">
            {% Pagingfunc current_page data_count filter_args request.uri as page %}
            {{ page | safe }}
        </ul>
    </nav>
</div>


{% endblock %}

{% block js %}
    <script src="/static/js/myadmin/daterangepicker.js"></script>
    <script>
        $(function(){
            $('.user_order_manage').addClass('active')
            $('#modalItemCodes').on('show.bs.modal', (e) => {
                let btn = $(e.relatedTarget);
                let ordernum = btn.data('ordernum');
                $('#id_modal_body').load('{% url "jm_user_order_info" %}?data_id=' + ordernum, (res, status, xhr) => {
                    if (status == "error") {
                        $('#id_modal_body').html('<p>加载数据时出错, 请稍后再试</p>');
                        return;
                    };
                });
            });
            $('.datetime').daterangepicker({
                locale : {  
                        applyLabel : '确定',  
                        cancelLabel : '取消',  
                        fromLabel : '起始时间',  
                        toLabel : '结束时间',  
                        customRangeLabel : '自定义',  
                        daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],  
                        monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',  
                                    '七月', '八月', '九月', '十月', '十一月', '十二月' ],  
                        firstDay : 1  
                },
            });
            var datevalue = '{{from_data.datetime}}'
            if(datevalue){ 
                datevalue = datevalue.split(' - ')
                $('.datetime').data('daterangepicker').setStartDate(datevalue[0])
                $('.datetime').data('daterangepicker').setEndDate(datevalue[1])
            }
            $('.filter_form .filter_select').change(
                function(){
                    $('.filter_form').submit()
                }
            )
            $('.filter_form .datetime').change(
                function(){
                    $('.filter_form').submit()
                }
            )
        })
    </script>
{% endblock %}