html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu { margin: 0px; padding: 0px; outline: none; }
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details { display: block; }
table { border-collapse: collapse; border-spacing: 0px; }
caption, th { text-align: left; font-weight: normal; }
html, body, fieldset, img, iframe, abbr { border: 0px; }
i, cite, em, var, address, dfn { font-style: normal; }
[hidefocus], summary { outline: 0px; }
li { list-style: none; }
h1, h2, h3, h4, h5, h6, small { font-size: 100%; }
sup, sub { font-size: 83%; }
pre, code, kbd, samp { font-family: inherit; }
q::before, q::after { content: none; }
textarea { overflow: auto; resize: none; }
label, summary { cursor: default; }
img { vertical-align: middle; }
a, button { cursor: pointer; }
h1, h2, h3, h4, h5, h6, em, strong, b { font-weight: normal; }
del, ins, u, s, a, a:hover { text-decoration: none; outline: none; }
html { font-size: 62.5%; }
body, textarea, input, button, select, keygen, legend { font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1.2rem; line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 微软雅黑, tahoma, simsun, sans-serif; color: rgb(51, 51, 51); outline: 0px; }
body { font-size: 120%; }
body { cursor: default; background: rgb(255, 255, 255); }
a, a:hover { color: rgb(51, 51, 51); }
.f-cb, .f-cbli li { zoom: 1; }
.f-cb::after, .f-cbli li::after { display: block; clear: both; visibility: hidden; height: 0px; overflow: hidden; content: "."; }
*, ::before, ::after { box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.f-fl { float: left; }
.f-tac { text-align: center; }
.g-bd { zoom: 1; }
.g-bd::after { display: block; clear: both; visibility: hidden; height: 0px; overflow: hidden; content: "."; }
html, body { width: 100%; height: 100%; }
.g-bd { position: relative; width: 100%; margin: 0px auto; min-width: 320px; max-width: 640px; }
.m-topnavidx .tit { background: url("../res/images/icon1.png?1ec5b64908b04ccd837a89aacf58adda") 0% 0% / 500px no-repeat; }
.m-imgslider-wrap, .u-img-wrapper { background: url("../res/images/124x124.png?04d3b6b6557a97e56c9a1c86fe61018f") 50% 50% / 62px 62px no-repeat rgb(255, 255, 255); }
.m-sku .product .txt-wrap .tit { font-size: 1.2rem; line-height: 1.4; color: rgb(51, 51, 51); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: keep-all; word-wrap: normal; margin-bottom: 5px; }
.m-dropdown .tit { position: relative; z-index: 1; height: 46px; line-height: 46px; padding: 0px 8px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(232, 232, 232); background-color: rgb(255, 255, 255); }
.m-whyCertification .title .icon { position: relative; top: 1px; margin-right: 5px; }
.m-activitynav .conts .titwrap .tit { padding: 0px 8px; }
.m-dialog .confirm .txt, .m-dialog .content .txt { min-height: 90px; padding: 20px 30px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(185, 185, 185); font-size: 1.4rem; line-height: 2.1rem; }
.m-itemcol2 .imgwrap { display: block; position: relative; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(240, 240, 240); }
.m-itemcol2 .imgwrap img { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background: url("../res/images/124x124.png?0550f9f9778fc635855fb136af591a4f") 50% 50% / 62px 62px no-repeat rgb(255, 255, 255); }
.m-itemcol2 .txtwrap { padding: 5px 8px 8px; font-size: 13px; position: relative; }
.m-itemcol2 .txtwrap .pmo-lbl { margin-left: 2px; color: rgb(221, 30, 71); border: 1px solid; padding: 0px 2px; border-radius: 2px; font-size: 11px; vertical-align: middle; display: inline-block; background-color: rgb(255, 255, 255); }
.m-itemcol2 .txtwrap .pmo-lbl .bold { font-weight: bold; }
.m-itemcol2 .txtwrap .pmo-lbl-1 { margin-left: 4px; }
.m-itemcol2 .txtwrap .member-lbl { margin-left: 6px; display: inline-block; color: rgb(221, 30, 71); border: 1px solid; padding: 0px 2px; border-radius: 2px; font-size: 11px; vertical-align: 1px; background-color: rgb(255, 255, 255); }
.m-itemcol2 .txtwrap .member-lbl .bold { font-weight: bold; }
.m-itemcol2 .txtwrap .member-lbl-1 { margin-left: 4px; }
.m-itemcol2 .tit { margin-bottom: 3px; height: 32px; overflow: hidden; font-size: 14px; line-height: 16px; word-wrap: break-word; }
.m-itemcol2 .tit .mem-lbl { color: rgb(210, 33, 71); }
.m-itemcol2 .tit .mem-lbl .sep { margin: 0px 4px; position: relative; top: -2px; }
.m-itemcol2 .mkt-price { font-size: 1.2rem; color: rgb(153, 153, 153); }
.m-itemcol2 .mkt-price del { text-decoration: line-through; }
.m-itemcol2 .act-price { color: rgb(210, 33, 71); font-size: 1.2rem; white-space: nowrap; height: 20px; overflow: hidden; }
.m-itemcol2 .act-price .bold { font-weight: bold; }
.m-itemcol2 .logo-soldout .txt { position: absolute; line-height: 20px; width: 100%; top: 50%; margin-top: -10px; text-align: center; vertical-align: middle; }
.m-topnav { position: relative; line-height: 50px; height: 50px; text-align: center; overflow: hidden; transition: height 0.4s; background-color: rgb(255, 255, 255); }
#topbar-box {width:100%;z-index: 99;}
.m-topnav .tit { font-size: 1.8rem; }
.m-topnav .backbtn { position: absolute; left: 10px; vertical-align: middle; top: 15px; width: 40px; }
.m-topnav .u-menu { position: absolute; top: 4px; right: 0px; }
.g-hd .j-navopen { height: 110px; }
.m-topnavbar { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(242, 240, 240); height: 50px; }
.m-topnavidx .tit { display: inline-block; vertical-align: middle; width: 100px; height: 24px; text-indent: -2000px; background-position: -252px -335px; }
.m-nav { height: 60px; background: rgb(243, 243, 243); }
.m-nav .nav { width: 25%; }
.m-nav .nav .icon { vertical-align: middle; }
.m-btmnav .txt { display: block; line-height: 12px; }
.m-onsale .tit { margin: 6px 0px; max-height: 36px; overflow: hidden; font-size: 14px; color: rgb(51, 51, 51); line-height: 18px; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.m-onsale .tit .mem-lbl { color: rgb(210, 33, 71); }
.m-onsale .discount .bold { font-weight: bold; }
.m-gooditm .imgwrap { display: block; position: relative; border-radius: 4px 4px 0px 0px; }
.m-gooditm .imgwrap img { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none transparent; border-radius: 4px 4px 0px 0px; outline: 0px; background: url("../res/images/124x124.png?b3fdf7c38b63d3d94bd76201c35fd419") 50% 50% / 62px 62px no-repeat rgb(255, 255, 255); }
.m-gooditm .txtwrap { padding: 5px; font-size: 13px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(240, 240, 240); border-radius: 0px 0px 4px 4px; }
.m-gooditm .tit { margin-bottom: 3px; height: 32px; overflow: hidden; font-size: 14px; line-height: 16px; }
.m-gooditm .tit a { white-space: normal; word-wrap: break-word; }
.m-gooditm .actprice .bold { font-weight: bold; }
.u-outdate .imgwrap { position: absolute; left: 0px; top: 50%; width: 100%; height: 130px; margin-top: -65px; }
.u-img-wrapper { position: relative; }
.u-img-wrapper img { left: 0px; top: 0px; width: 100%; }
.bg-icn2, .u-icn7, .u-icn8, .u-icn9, .u-icn10, .u-icn11, .u-icn12, .u-icn13, .u-icn14, .u-icn18, .u-icn19, .u-icn20, .u-icn21, .u-icn22, .u-icn23, .u-icn24, .u-icn25, .u-icn32, .u-icn33, .u-menu, .u-index, .u-cart, .u-orders, .u-coupon, .u-icon-star, .u-icon-star-1, .u-icon-cmtstar, .u-icon-star-2 { background: url("../res/images/icon2.png?9dc886654cd1ab02fe1944da2af6ef1e") 0% 0% / 500px no-repeat; }
.u-icn18 { display: inline-block; width: 13px; height: 23px; background-position: 0px -403px; }
.u-menu { vertical-align: middle; display: inline-block; width: 40px; height: 46px; background-position: -399px -429px; }
.m-topnavidx .u-menu { background-position: -399px -462px; }
.u-index { display: inline-block; width: 32px; height: 40px; background-position: -214px -505px; }
.u-cart { display: inline-block; width: 32px; height: 40px; background-position: -295px -505px; }
.u-orders { display: inline-block; width: 42px; height: 40px; background-position: -368px -505px; }
.u-coupon { display: inline-block; width: 50px; height: 40px; background-position: -445px -505px; }
.u-lgsoldout .txt { position: absolute; width: 100%; top: 50%; margin-top: -10px; line-height: 20px; text-align: center; vertical-align: middle; }
.m-bottomlinks .titwrap .tit { padding: 0px 8px; }
commlayout, .m-single-img, .m-sliderwrap, .m-2avg-ban, .m-3unavg-ban, .m-4avg-ban, .m-3avg-ban { line-height: 0; background-color: rgb(255, 255, 255); }
commlayout .js-css-loading, .m-single-img .js-css-loading, .m-sliderwrap .js-css-loading, .m-2avg-ban .js-css-loading, .m-3unavg-ban .js-css-loading, .m-4avg-ban .js-css-loading, .m-3avg-ban .js-css-loading { min-height: 65px; background: url("http://w.kl.126.net/res/images/124x124.png?31b3df147cdb321d9338de49fcbf25f3") 50% 50% / 62px 62px no-repeat rgb(255, 255, 255); }
.m-single-img { display: block; }
.m-single-img img { width: 100%; }
.m-soldout { position: absolute; left: 25%; top: 25%; width: 50%; height: 50%; border-radius: 100000px; color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; background: rgba(0, 0, 0, 0.6); }
.m-soldout .txt { position: absolute; line-height: 20px; width: 100%; top: 50%; margin-top: -8px; text-align: center; vertical-align: middle; }
.m-2avg-item { position: relative; font-size: 12px; line-height: 16px; background-color: rgb(255, 255, 255); }
.m-2avg-item .imgwrap { margin: 12%; display: block; position: relative; }
.m-2avg-item .txtwrap { padding: 5px 8px 8px; font-size: 13px; position: relative; margin: 0px 5px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(240, 240, 240); }
.m-2avg-item .txtwrap .pmo-lbl { margin-left: 2px; color: rgb(221, 30, 71); border: 1px solid; padding: 2px 3px; border-radius: 2px; font-size: 11px; background-color: rgb(255, 255, 255); }
.m-2avg-item .txtwrap .pmo-lbl .bold { font-weight: bold; }
.m-2avg-item .txtwrap .member-lbl { margin-left: 6px; color: rgb(221, 30, 71); border: 1px solid; padding: 2px 3px; border-radius: 2px; font-size: 11px; background-color: rgb(255, 255, 255); }
.m-2avg-item .txtwrap .member-lbl .bold { font-weight: bold; }
.m-2avg-item .tit { margin-bottom: 3px; height: 32px; overflow: hidden; font-size: 14px; line-height: 16px; }
.m-2avg-item .tit .mem-lbl { color: rgb(210, 33, 71); }
.m-2avg-item .mkt-price { margin-bottom: 3px; color: rgb(153, 153, 153); font-size: 1.2rem; }
.m-2avg-item .mkt-price del { text-decoration: line-through; }
.m-2avg-item .act-price { color: rgb(210, 33, 71); font-size: 1.2rem; white-space: nowrap; }
.m-2avg-item .act-price .bold { font-weight: bold; }
.m-2avg-item .discount { box-sizing: border-box; position: absolute; top: 8px; left: -5px; width: 39px; height: 18px; font-size: 12px; line-height: 18px; padding-left: 7px; text-align: left; color: rgb(255, 255, 255); background-color: rgb(210, 33, 71); }
.m-2avg-item .discount .r-tri { position: absolute; right: -9px; top: 0px; box-sizing: content-box; height: 0px; width: 0px; border-top-width: 9px; border-style: solid none solid solid; border-top-color: transparent; border-bottom-width: 9px; border-bottom-color: transparent; border-left-width: 9px; border-left-color: rgb(210, 33, 71); line-height: 0; font-size: 0px; }
.m-2avg-item .discount .rt-tri { position: absolute; left: 0px; bottom: -4px; box-sizing: content-box; height: 0px; width: 0px; border-width: 2px; border-style: solid; border-color: rgb(210, 33, 71) rgb(210, 33, 71) transparent transparent; line-height: 0; font-size: 0px; }
.m-2avg-item .lbl-wrap { position: absolute; left: 0px; top: 0px; margin-left: 1px; zoom: 1; }
.m-2avg-item .lbl-wrap::after { display: block; clear: both; visibility: hidden; height: 0px; overflow: hidden; content: "."; }
.m-2avg-item .lbl-wrap .lbl { display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; float: left; margin-left: -1px; width: 2.8rem; height: 2.8rem; font-size: 1rem; line-height: 1.1rem; overflow: hidden; }
.m-2avg-item .lbl-wrap .lbl span { display: block; width: 2.1rem; word-break: break-all; text-align: center; }
.m-2avg-item .lbl-wrap .lbl.l { width: 3.2rem; }
.m-2avg-item .lbl-wrap .lbl.l span { width: auto; }
.m-2avg-item .lbl-wrap .lbl.xl { width: 3.8rem; }
.m-2avg-item .lbl-wrap .lbl.xl span { width: auto; }
.m-2avg-item .lbl-ord { color: rgb(255, 255, 255); background-color: rgb(243, 142, 81); }
.m-2avg-item .lbl-app { color: rgb(255, 255, 255); background-color: rgb(104, 195, 244); }
.m-2avg-item .action { display: block; height: 30px; margin-top: 4px; line-height: 30px; color: rgb(255, 255, 255); text-align: center; font-size: 1.4rem; background-color: rgb(210, 33, 71); }
.m-2avg-item .favorwrap { padding: 8px; }
.m-avg2item-lst { padding-bottom: 10px; padding-top: 10px; background: rgb(239, 239, 239); }
.m-avg2item-lst .h { display: inline-block; width: 50%; margin-bottom: 10px; vertical-align: top; }
.m-avg2item-lst .h:nth-child(3n+1) { padding-left: 9px; padding-right: 4.5px; }
.m-avg2item-lst .h:nth-child(3n+2) { padding-left: 4.5px; padding-right: 9px; }
.m-avg2item-lst .h:last-child, .m-avg2item-lst .h:nth-last-child(2):nth-child(2n+1) { margin-bottom: 0px; }
.m-single-item .imgwrap { position: relative; float: left; width: 100px; margin-right: 3px; }
.m-single-item .txtwrap { overflow: hidden; position: relative; }
.m-single-item .txtwrap .appprice { position: absolute; bottom: 3px; right: 3px; padding: 2px 3px; border-radius: 2px; color: rgb(255, 255, 255); background: rgb(219, 44, 143); }
.m-single-item .txtwrap .cty { line-height: 16px; margin-bottom: 8px; white-space: nowrap; }
.m-single-item .txtwrap .cty .cty-icon { width: 16px; height: 16px; vertical-align: middle; }
.m-single-item .txtwrap .cty .desc { font-size: 1.2rem; line-height: 1; color: rgb(102, 102, 102); vertical-align: middle; margin-left: 5px; }
.m-single-item .txtwrap .tit { color: rgb(51, 51, 51); font-size: 14px; line-height: 18px; height: 36px; overflow: hidden; margin-bottom: 2px; }
.m-single-item .txtwrap .tit .mem-lbl { color: rgb(210, 33, 71); }
.m-single-item .txtwrap .act-price { color: rgb(210, 33, 71); margin-bottom: 4px; line-height: 1; white-space: nowrap; }
.m-single-item .txtwrap .act-price .yuan { font-size: 1.2rem; margin-right: 1px; }
.m-single-item .txtwrap .act-price .int { font-weight: bold; font-size: 2rem; }
.m-single-item .txtwrap .act-price .dec { font-weight: bold; font-size: 1.5rem; }
.m-single-item .txtwrap .act-price .discount { margin-left: 15px; position: relative; box-sizing: border-box; display: inline-block; height: 16px; line-height: 16px; font-size: 12px; color: rgb(255, 255, 255); border-radius: 0px 3px 3px 0px; padding-left: 2px; padding-right: 4px; vertical-align: 4px; background-color: rgb(210, 33, 71); }
.m-single-item .txtwrap .act-price .discount .l-tri { position: absolute; left: -7px; top: 0px; box-sizing: content-box; height: 0px; width: 0px; border-top-width: 8px; border-style: solid solid solid none; border-top-color: transparent; border-right-width: 7px; border-right-color: rgb(210, 33, 71); border-bottom-width: 8px; border-bottom-color: transparent; line-height: 0; font-size: 0px; }
.m-single-item .txtwrap .act-price .discount .bold { font-weight: bold; }
.m-single-item .txtwrap .mkt-price { color: rgb(187, 187, 187); font-size: 12px; line-height: 1; white-space: nowrap; }
.m-single-item .txtwrap .mkt-price del { text-decoration: line-through; }
.m-item-uidt .imgwrap { position: relative; padding-top: 62.5%; }
.m-item-uidt .descwrap .tit { padding-top: 9px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); font-size: 1.2rem; line-height: 17px; max-height: 77px; }
.m-item-lr .descwrap .tit { margin-top: 10px; font-size: 1.3rem; line-height: 17px; max-height: 68px; color: rgb(102, 102, 102); white-space: normal; }
.m-item-col2 .descwrap .cont .imgwrap { z-index: 1; position: relative; }
.m-item-col2 .descwrap .cont .tit { font-size: 1.2rem; line-height: 16px; max-height: 16px; text-align: center; }
.m-channelent .items li .imgwrap { display: block; }
.m-brand-c2-lst .h { float: left; width: 50%; margin-bottom: 10px; vertical-align: top; padding-left: 10px; padding-right: 5px; }
.m-brand-c2-lst .h:nth-child(2n) { padding-left: 5px; padding-right: 10px; }
.m-brand-c2-lst .h:last-child, .m-brand-c2-lst .h:nth-last-child(2):nth-child(2n+1) { margin-bottom: 0px; }
.m-brand-c2 .imgwrap { }
.m-brand-c2 .imgwrap .logo { position: absolute; z-index: 1; left: 50%; margin-left: -25px; top: auto; bottom: -25px; width: 50px; height: 50px; border: 1px solid rgb(234, 234, 234); background-color: rgb(255, 255, 255); }
.m-brand-c2 .desc .tit { line-height: 1.5rem; }
.m-brand-c1 .imgwrap { float: left; width: 50%; padding-right: 5px; margin-right: -5px; }
.m-brand-c1 .imgwrap .imgpos { position: relative; display: block; }
.m-brand-c1 .desc .tit { margin-top: 8px; line-height: 1.5rem; }
.m-brand-head .imgwrap { display: block; position: relative; padding-top: 50%; }
.m-brand-head .imgwrap .logo { position: absolute; top: auto; left: 12px; bottom: -25px; width: 60px; height: 60px; border: 1px solid rgb(234, 234, 234); background-color: rgb(255, 255, 255); }
.m-brand-head .detail .tit { margin-left: 82px; line-height: 26px; font-size: 1.5rem; }
.m-brand-head .detail .tit b { margin: 0px 2px; color: rgb(222, 30, 59); font-weight: bold; }
.u-newdisc-bg, .m-qa-pk .check .btn i, .m-share .icon { background-image: url("http://w.kl.126.net/res/images/activity/tpl/newdiscover.png?3b44a223cbb46118e3cf88397b12e554"); background-size: 150px 150px; }
.m-newdc .imgwrap { display: block; margin-top: 9px; z-index: 0; }
.m-newdc .add .line .tit { margin-top: 4px; line-height: 17px; height: 34px; color: rgb(51, 51, 51); }
.m-qa-select dd .txt { line-height: 16px; transform: translateY(12px); transition: transform 500ms ease; }
.m-qa-select.selected dd .txt { transform: translateY(5px); }
.m-qa-pk .tit { margin-top: 10px; line-height: 1.42; padding: 0px 10px; font-size: 1.6rem; }
.m-share .icon { width: 60px; height: 60px; margin: 0px auto; background-position: 0px -90px; }
.m-worth-last .tit { font-size: 1.4rem; }
.m-worth-last .imgwrap { display: block; padding-top: 50%; }
.catchkaola-dialog .confirm .txt { border: none; padding: 0px; overflow: hidden; border-radius: 10px; position: relative; z-index: 100; }
.catchkaola-dialog .confirm .txt .confirm-bg { width: 100%; height: auto; }
.catchkaola-dialog .confirm .txt .confirm_top { border-radius: 10px 10px 0px 0px; background: rgb(26, 160, 128); }
.catchkaola-dialog .confirm-1 .txt { height: 253px; }
.catchkaola-dialog .confirm-2 .txt { height: 243px; }
.catchkaola-dialog .confirm-3 .txt { border-radius: 10px; overflow: hidden; }
.catchkaola-dialog .confirm-3 .hidden_bg_2, .catchkaola-dialog .confirm-3 .txt, .catchkaola-dialog .confirm-3 .confirm-content, .catchkaola-dialog .confirm-3 .confirm_bottom { border-radius: 0px 0px 10px 10px; overflow: hidden; }
.catchkaola-dialog .confirm-3 .txt, .catchkaola-dialog .confirm-4 .txt { margin: 20px 0px; }
.bg-icn2,.u-cart,.u-coupon,.u-icn10,.u-icn11,.u-icn12,.u-icn13,.u-icn14,.u-icn18,.u-icn19,.u-icn20,.u-icn21,.u-icn22,.u-icn23,.u-icn24,.u-icn25,.u-icn32,.u-icn33,.u-icn7,.u-icn8,.u-icn9,.u-icon-cmtstar,.u-icon-star,.u-icon-star-1,.u-icon-star-2,.u-index,.u-menu,.u-orders{background:url(/images/mobile/icon1.png) no-repeat;background-size:500px}
#backbtn{display:inline-block;width:13px;height:23px;background-position:-200px -165px}
.m-topnav .tit{font-size:1.4rem;max-width:80%;overflow:hidden;display:inline-block;white-space:nowrap;text-overflow:ellipsis}
.m-topnav .u-menu{position:absolute;top:4px;right:0}
/*.m-topnav-wrap {height: 50px;}*/
/*.g-hd .j-navopen {height: 110px;}*/
.m-nav {
    height: 60px;
    background: #f3f3f3;
}
.bg-icn2,.u-cart,.u-coupon,.u-icn10,.u-icn11,.u-icn12,.u-icn13,.u-icn14,.u-icn18,.u-icn19,.u-icn20,.u-icn21,.u-icn22,.u-icn23,.u-icn24,.u-icn25,.u-icn32,.u-icn33,.u-icn7,.u-icn8,.u-icn9,.u-icon-cmtstar,.u-icon-star,.u-icon-star-1,.u-icon-star-2,.u-index,.u-menu,.u-orders{background:url(/images/mobile/icon1.png) no-repeat;background-size:500px}
.u-menu{vertical-align:middle;display:inline-block;width:40px;height:40px;background-position:-200px -30px}
.u-index{display:inline-block;width:40px;height:48px;background-position:-30px -30px}
.u-cart{display:inline-block;width:45px;height:50px;background-position:-90px -30px}
.u-orders{display:inline-block;width:52px;height:57px;background-position:-30px -95px}
.u-coupon{display:inline-block;width:80px;height:50px;background-position:-90px -96px}
.m-docfoot{padding:15px;line-height:18px;background:#efefef;padding-bottom:60px}
.m-docfoot .navlist{font-size:13px}
.f-cb,.f-cbli li{zoom:1}
.f-fr{float:right}
.f-fl{float:left}
.m-docfoot .navlist{font-size:13px}
.m-docfoot .navlist .sep{margin:0 8px}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:"."}
.m-docfoot .aboutnest{padding:20px 0 0;font-size:12px;color:#999;text-align:center}

.m-pdt-banner {display: block;background-color: #f0f0f0;padding: 11px 15px;}
.m-pdt-banner .ic {float: left;width: 43px;height: 43px;}
.m-pdt-banner .desc {overflow: hidden;}
.m-pdt-banner .desc .dldbtn {float: right;width: 85px;height: 35px;line-height: 35px;border-radius: 4px;
	background-color: #d53558;color: #fff;font-size: 1.5rem;text-align: center;margin-top: 3px;}
.m-pdt-banner .desc .txt {overflow: hidden;padding-left: 3px;}
.m-pdt-banner .desc .txt .name {font-size: 1.7rem;line-height: 35px;color: #d53558;overflow: hidden;-o-text-overflow: ellipsis;
	text-overflow: ellipsis;white-space: nowrap;word-break: keep-all;word-wrap: normal;margin-top: 2px;}