
{% extends '../a_layout.html' %}
{% load ui_method %}
{% block css %}
    
{% endblock %}
{% block title %}
<a type="button" class="btn btn-default back_btn" onclick="history.back()" >🔙 后退</a>             
{% endblock %}
{% block content %}
<div class="box box-primary" style="padding: 15px">
    <div class="box-header">
      <h3 class="box-title">添加品牌</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="box-body">
        <div class="form-group">
          <label for="exampleInputEmail1">品牌中文名</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="cn_name" value="{% if form_data.cn_name %}{{ form_data.cn_name }}{% endif %}">
          {% if form_errors and form_errors.cn_name %}<span style="color: red">{{ form_errors.cn_name }}</span>{% endif %}
        </div>
        <div class="form-group">
          <label for="cn_name_abridge">品牌中文缩写</label>
          <input type="text" class="form-control" id="cn_name_abridge" name="cn_name_abridge" value="{% if form_data.cn_name_abridge %}{{ form_data.cn_name_abridge }} {% endif %}">
        </div>
        <div class="form-group">
            <label for="en_name">品牌英文名</label>
            <input type="text" class="form-control" id="en_name" name="en_name" value="{% if form_data.en_name %}{{ form_data.en_name }}{% endif %}">
        </div>
        <div class="form-group">
            <label for="from_country">所属国家</label>
            <input type="text" class="form-control" id="from_country" name="form_country" value="{% if form_data.form_country %}{{ form_data.form_country }}{% endif %}">
        </div>
        <div class="form-group">
            <label for="from_country">关键字</label>
            <input type="text" class="form-control" id="from_country" name="key_word" value="{% if form_data.key_word %}{{ form_data.key_word }}{% endif %}">
        </div>
        <div class="form-group">
            <label for="" class="control-label">是否为热门品牌:</label>
            {% if form_data.is_hot %}
            <input type="checkbox"  id="recipient-name" name="is_hot" checked>
            {% else %}
            <input type="checkbox"  id="recipient-name" name="is_hot">
            {% endif %}
        </div>
        <div class="form-group">
            <label for="from_country">品牌简介</label>
            <textarea name="brand_about" id="" cols="100" rows="10" class="form-control"> {% if form_data.brand_about %}{{ form_data.brand_about }}{% endif %}</textarea>
        </div>
        <div class="form-group">
            <label for="from_country">品牌图片</label>
            <input type="file" class="form-control" name="brand_image">
        </div>
        <div class="image-box">
            <img src="{%if form_data and form_data.photo_id %}{% build_photo_url form_data.photo_id %}{% endif %}" alt="图片预览" style="width: 300px;height: 300px;">
        </div>
      </div><!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

{% endblock %}
{% block js %}
    <script>
    $(function(){
        $('input[name="brand_image"]').change(function(){
            file = this.files[0]
            var $image_item = $('.image-box img')
            var url = null ;
            if (window.createObjectURL!=undefined) { // basic
                url = window.createObjectURL(file) ;
            } else if (window.URL!=undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file) ;
            } else if (window.webkitURL!=undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file) ;
            }
            $image_item.attr('src', url)
        })
    })
    
    </script>
{% endblock %}


