{% extends '../a_layout.html' %}
{% load ui_method %}
{% block css %}
{% endblock %}
{% block title %}
商品分类表            
{% endblock %}
{% block page_header %}
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 分类管理</a></li>
</ol>
{% endblock %}

{% block content_title %}


<div class="row">
    <div class="col-md-8">
        <div "row">
            <div class="col-md-8">
                <form action="" method="GET" class="search_input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索分类名称" name="search_value" value="{{ search_value }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default search_input_btn" type="submit">搜索</button>
                    </span>
                  </div><!-- /input-group -->
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <a href="{% url 'add_categorie' %}" class="btn btn-info" >添加分类 <span class="glyphicon glyphicon-plus"></span></a>
        <button type="button" class="btn btn-default choose_categories" type="button">选择全部<span class="glyphicon glyphicon-saved"></span></button>
        <button type="button" class="btn btn-danger delete_categories" type="button">删除<span class="glyphicon glyphicon-trash"></span></button>
    </div>
</div>
{% endblock %}

{% block content %}

<div style="padding: 15px;overflow: auto;">
    {% for i in categories_list %}
        <div class="panel panel-success categories_list">
            <div class="panel-heading"><input type="checkbox" class="item_checkbox" item-id={{i.categorie_id}}>分类名：{{i.categorie_name}}</div>
            <div class="panel-body">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{% build_photo_url i.photo_id %}" style="width: 100px; height: 100px;">
                    </a>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-10">
                            类别：{{ i.categorie_type }}
                        </div>
                        <div class="col-md-2">
                            <a  href="{% url 'editor_categorie' %}?categorie_id={{i.categorie_id}}&back_url={{request.get_full_path}}" style='cursor:pointer;text-decoration:none;'><span class="glyphicon glyphicon-pencil"></span> 编辑</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<div>
    <nav aria-label="Page navigation">
        <ul class="pagination page_box">
            {% Pagingfunc current_page categories_count filter_args request.path as page %}
            {{ page | safe }}
        </ul>
    </nav>
</div>


{% endblock %}

{% block js %}
    <script>
        $(function(){
            $('.categories_manage').addClass('active')
            $('.add_categorie_btn').click(function(){
                $('.modal-title').text('创建分类')
                $('.submit_btn').unbind()
                $('.submit_btn').click(function(){
                    add_or_edit_categorie(false)
                })
            })
            $('.choose_categories').click(function(){
                var text =  $(this).text()
                var $categories_list = $('.categories_list')
                if(text == '选择全部'){
                    $categories_list.each(function(index, item){
                        var $f =  $(item).children().find('input[type="checkbox"]')
                        $f.prop('checked', true)
                    })
                    $(this).html('取消全部<span class="glyphicon glyphicon-saved"></span>')
                }else{
                    $categories_list.each(function(index, item){
                        var $f =  $(item).children().find('input[type="checkbox"]')
                        $f.prop('checked', false)
                    })
                    $(this).html('选择全部<span class="glyphicon glyphicon-saved"></span>')
                }
                
            })
            $('.delete_categories').click(delete_member)
            $('.edit_categorie').click(get_edit_category_info)
        })
        
 

        // 删除用户按钮
        function delete_member(){
            var $item_list = $('.categories_list')
            var categorie_ids_list = []
            $item_list.each(function(index, item){
                var f =  $(item).children().find('input[type="checkbox"]')
                var is_checked = $(f).prop('checked')
                if(is_checked){
                    categorie_ids_list.push($(f).attr('item-id'))
                }
            })
            if(categorie_ids_list.length>0){
                $.post(
                    "{% url 'delete_categories' %}",
                    {'categorie_ids_list': categorie_ids_list, 'csrfmiddlewaretoken': getCookie('csrftoken')},
                    function(value){
                        if(value.status == 'success'){
                            location.reload()
                        }else{
                            alert(value.message)
                        }
                    },
                    'json'
                )
            }
        }

        

    </script>
{% endblock %}