
.a-login-box { width:660px; margin:0 auto; border:1px solid #b3b3b3; border-radius:3px; }
.a-login-box .mod-body { padding:50px 70px; }
.a-login-box h1 { font-size:22px; margin:10px 0 30px 0; }

.form-hint-error { margin:8px 0; color:red; }

.pull-center {
    margin: 0 auto;
}



