{% extends '../admin/a_layout.html' %}
{% block css %}
    
{% endblock %}
{% block title %}
<a type="button" class="btn btn-default back_btn" onclick="history.back()" >🔙 后退</a>             
{% endblock %}
{% block content %}
<div class="box box-primary" style="padding: 15px">
    <div class="box-header">
        <h3 class="box-title">添加商品</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="POST" action="" enctype="multipart/form-data">
        {% module xsrf_form_html() %}
        <div class="box-body">
        <div class="form-group">
            <label for="recipient-name" class="control-label">商品名称:</label>
            <input type="text" class="form-control" name="item_name" value="{{ form_data.item_name }}">
            {% if form_errors and form_errors.item_name %} <span style="color: red">{{ form_errors.item_name }}</span> {% endif %}
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">商品信息:</label>
            <input type="text" class="form-control" name="item_info" value="{{ form_data.item_info }}">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">商品编码:</label>
            <input type="text" class="form-control" name="item_code" value="{{ form_data.item_code }}">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">商品条码:</label>
            <input type="text" class="form-control" name="item_barcode" value="{{ form_data.item_barcode }}">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">原价:</label>
            <input type="number" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" name="price" value="{{ form_data.price }}">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">现价:</label>
            <input type="number" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" name="current_price" value="{{ form_data.current_price }}">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">国外价格:</label>
            <input type="number" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" name="foreign_price" value="{{ form_data.foreign_price }}">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">关键字:</label>
            <input type="text" class="form-control" name="key_word" value="{{ form_data.key_word }}">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">产地:</label>
            <input type="text" class="form-control" name="origin" value="{{ form_data.origin }}">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">保质期:</label>
            <input type="text" class="form-control" name="shelf_life" value="{{ form_data.shelf_life }}">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">容量:</label>
            <input type="text" class="form-control" name="f_capacity" value="{{ form_data.capacity }}">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">规格类型:</label>
            <select name="specifications_type_id" class="form-control">
                <option value="" selected>选择规格</option>
                {% for i in specifications_type_dict %}
                    {% if form_data and form_data.specifications_type_id is not None and i == form_data.specifications_type_id %}
                        <option value="{{i}}" selected>{{ get_value_by_key specifications_type_dict i }}</option>
                    {% else %}
                        <option value="{{i}}">{{ get_value_by_key specifications_type_dict i }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">选择品牌:</label>
            <select name="brand_id" class="form-control">
                <option value="" selected>--选择--</option>
                {% for i in brands_list %}
                    {% if form_data and form_data.brand_id is not None and i == form_data.brand_id %}
                        <option value="{{ i }}" selected>{{ get_value_by_key brands_list i }}</option>
                    {% else %}
                        <option value="{{ i }}">{% get_value_by_key brands_list i %}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">选择分类:</label>
            <select name="categories_id" class="form-control">
                <option value="" selected>--选择--</option>
                {% for i in categories_list %}
                    {% if form_data and form_data.categories_id is not None and i == form_data.categories_id %}
                        <option value="{{ i }}" selected>{% get_value_by_key categories_list i %}</option>
                    {% else %}
                        <option value="{{ i }}">{% get_value_by_key categories_list i %}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">适用人群:</label>
            <input type="text" class="form-control" name="for_people" value="{{ form_data.for_people }}"> 
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label">重量:</label>
            <input type="text" class="form-control" name="weight" value="{{ form_data.weight }}">
        </div>
        </div><!-- /.box-body -->

        <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>



{% endblock %}
{% block js %}
    
{% endblock %}