
{% extends '../admin/a_layout.html' %}
{% block css %}
    
{% end %}
{% block title %}
<a type="button" class="btn btn-default back_btn" onclick="history.back()" >🔙 后退</a>             
{% end %}
{% block content %}
<div class="box box-primary" style="padding: 15px">
    <div class="box-header">
      <h3 class="box-title">添加分类</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="POST" action="" enctype="multipart/form-data">
        {% module xsrf_form_html() %}
      <div class="box-body">
        <div class="form-group">
          <label for="exampleInputEmail1">分类名字</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="f_categorie_name" value="{{ form_data['categorie_name'] if form_data and form_data.get('categorie_name') else '' }}">
          <span style="color: red">{{ form_error['categorie_name'] if form_error and form_error.get('categorie_name') else '' }}</span>
        </div>
        <div class="form-group">
          <label for="cn_name_abridge">类别选择</label>
          <select name="f_categorie_type" id="" class="form-control">
                <option value="">--选择类别--</option>
                {% for key in categorie_choices %}
                    {% if form_data and form_data.get('categorie_type') is not None and form_data['categorie_type'] == key %}
                        <option value="{{ key }}" selected>{{ categorie_choices[key] }}</option>
                    {% else %}
                        <option value="{{ key }}">{{ categorie_choices[key] }}</option>
                    {% end %}
                {% end %}
          </select>
          <span style="color: red">{{ form_error['categorie_type'] if form_error and form_error.get('categorie_type') else '' }}</span>
        </div>
        <div class="form-group">
            <label for="from_country">品牌图片</label>
            <input type="file" class="form-control" name="f_categorie_image">
        </div>
        <div class="image-box">
            <img src="{{ form_data['image_path'] if form_data and form_data.get('image_path') else '' }}" alt="图片预览" style="width: 300px;height: 300px;">
        </div>
      </div><!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

{% end %}
{% block js %}
    <script>
    $(function(){
        $('input[name="f_categorie_image"]').change(function(){
            file = this.files[0]
            var $image_item = $('.image-box img')
            var url = null ;
            if (window.createObjectURL!=undefined) { // basic
                url = window.createObjectURL(file) ;
            } else if (window.URL!=undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file) ;
            } else if (window.webkitURL!=undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file) ;
            }
            $image_item.attr('src', url)
        })
    })
    
    </script>
{% end %}


