{% extends '../admin/a_layout.html' %}
{% block css %}
{% end %}
{% block title %}
商品分类表            
{% end %}
{% block page_header %}
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 分类管理</a></li>
</ol>
{% end %}

{% block content_title %}


<div class="row">
    <div class="col-md-8">
        <div "row">
            <div class="col-md-8">
                <form action="" method="GET" class="search_input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索分类名称" name="search_value" value="{{ search_value if search_value else '' }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default search_input_btn" type="submit">搜索</button>
                    </span>
                  </div><!-- /input-group -->
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <a href="/add_categorie/" class="btn btn-info" >添加分类 <span class="glyphicon glyphicon-plus"></span></a>
        <button type="button" class="btn btn-default choose_categories" type="button">选择全部<span class="glyphicon glyphicon-saved"></span></button>
        <button type="button" class="btn btn-danger delete_categories" type="button">删除<span class="glyphicon glyphicon-trash"></span></button>
    </div>
</div>
{% end %}

{% block content %}

<div style="padding: 15px;overflow: auto;">
    {% for i in categories_list %}
        <div class="panel panel-success categories_list">
            <div class="panel-heading"><input type="checkbox" class="item_checkbox" item-id={{i.categorie_id}}>分类名：{{i.categorie_name}}</div>
            <div class="panel-body">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{i.image_path if i.image_path else '/images/user-default.jpg' }}" style="width: 100px; height: 100px;">
                    </a>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-10">
                            类别：{{ categorie_choices.get(i.categorie_type) }}
                        </div>
                        <div class="col-md-2">
                            <a  href="/editor_categorie/?categorie_id={{i.categorie_id}}&back_url={{request.uri}}" style='cursor:pointer;text-decoration:none;'><span class="glyphicon glyphicon-pencil"></span> 编辑</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% end %}
</div>


<div>
    <nav aria-label="Page navigation">
        <ul class="pagination page_box">
            {% module Pagingfunc(current_page, categories_count, filter_args, uri) %}
        </ul>
    </nav>
</div>


{% end %}

{% block js %}
    <script>
        $(function(){
            $('.categories_manage').addClass('active')
            $('.add_categorie_btn').click(function(){
                $('.modal-title').text('创建分类')
                $('.submit_btn').unbind()
                $('.submit_btn').click(function(){
                    add_or_edit_categorie(false)
                })
            })
            $('.choose_categories').click(function(){
                var text =  $(this).text()
                var $categories_list = $('.categories_list')
                if(text == '选择全部'){
                    $categories_list.each(function(index, item){
                        var $f =  $(item).children().find('input[type="checkbox"]')
                        $f.prop('checked', true)
                    })
                    $(this).html('取消全部<span class="glyphicon glyphicon-saved"></span>')
                }else{
                    $categories_list.each(function(index, item){
                        var $f =  $(item).children().find('input[type="checkbox"]')
                        $f.prop('checked', false)
                    })
                    $(this).html('选择全部<span class="glyphicon glyphicon-saved"></span>')
                }
                
            })
            $('.delete_categories').click(delete_member)
            $('.edit_categorie').click(get_edit_category_info)
        })
        
 

        // 删除用户按钮
        function delete_member(){
            var $item_list = $('.categories_list')
            var categorie_ids_list = []
            $item_list.each(function(index, item){
                var f =  $(item).children().find('input[type="checkbox"]')
                var is_checked = $(f).prop('checked')
                if(is_checked){
                    categorie_ids_list.push($(f).attr('item-id'))
                }
            })
            if(categorie_ids_list.length>0){
                $.post(
                    '/j/delete_categorie/',
                    {'categorie_ids_list': categorie_ids_list, '_xsrf': getCookie('_xsrf')},
                    function(value){
                        if(value.result == 'success'){
                            location.reload()
                        }else{
                            alert(value.message)
                        }
                    },
                    'json'
                )
            }
        }

        // 获取待编辑用户信息
        var categorie_id = null
        function get_edit_category_info(){
            $('.modal-title').text('编辑分类')
            categorie_id = $(this).parent().parent().children().first().text()
            var data_dict = null
            $.get(
                '/j/edit_categorie/?categorie_id=' + categorie_id,
                function(value){
                    if(value.result == 'success'){
                        data_dict = value.data
                        $('#exampleModal').modal('show')
                        var $input_list = $('.categorie_form input')
                        var $select_list = $('.categorie_form select')
                        $input_list.each(function(index, item){
                            $(item).attr('old_value', data_dict[$(item).attr('name')])
                            $(item).val(data_dict[$(item).attr('name')])
                        })
                        $select_list.each(function(index, item){
                            $(item).attr('old_value', data_dict[$(item).attr('name')])
                            $(item).val(data_dict[$(item).attr('name')])
                        })
                        $('.submit_btn').unbind()
                        $('.submit_btn').click(function(){
                            add_or_edit_categorie(true)
                        })
                    }else{
                        alert(value.message)
                    }
                },
                'json'
            )
            
        }

        //添加用户或着编辑用户
        function add_or_edit_categorie(is_edit){
            var post_url = is_edit ? '/j/edit_categorie/?categorie_id=' + categorie_id : '/j/add_categorie/'
            var $input_list = $('.categorie_form input')
            var $select_list = $('.categorie_form select')
            var data_dict = {}
            $input_list.each(function(index,item){
                var input_value = $(item).val().trim()
                if(is_edit){
                    var input_old_value = $(item).attr('old_value')
                    if(input_value != input_old_value){
                        data_dict[$(item).attr('name')]=input_value
                    }
                }else{
                    data_dict[$(item).attr('name')]=input_value
                }  
            })
            $select_list.each(function(index, item){
                var select_value = $(item).val()
                if(is_edit){
                    var select_old_value = $(item).attr('old_value')
                    if(select_value != select_old_value){
                        data_dict[$(item).attr('name')]=select_value
                    }
                }else{
                    data_dict[$(item).attr('name')]=select_value
                }
            })
            if(is_edit){
                data_dict['categorie_id'] = categorie_id
            }
            data_dict['_xsrf'] = getCookie("_xsrf")
            $.post(
                post_url,
                data_dict,
                function(value){
                    if(value.result == 'success'){
                        $('#exampleModal').modal('hide')
                        location.reload()
                    }else{
                        $('.return_msg_box').text(value.message)
                    }
                },
                'json'
            )
        }

    </script>
{% end %}