
{% extends '../admin/a_layout.html' %}
{% block css %}
    
{% end %}
{% block title %}
<a type="button" class="btn btn-default back_btn" onclick="history.back()" >🔙 后退</a>             
{% end %}
{% block content %}
<div class="box box-primary" style="padding: 15px">
    <div class="box-header">
      <h3 class="box-title">添加评论</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="POST" action="" enctype="multipart/form-data">
        {% module xsrf_form_html() %}
      <div class="box-body">
        <div class="form-group">
          <label for="exampleInputEmail1">评论内容</label>
          <textarea name="f_comment_content" id="" cols="30" rows="10" class="form-control">
            {{ form_data['comment_content'] if form_data and form_data.get('comment_content') else '' }}
          </textarea>
          <span style="color: red">{{ form_error['categorie_name'] if form_error and form_error.get('categorie_name') else '' }}</span>
        </div>
        <div class="form-group">
          <label for="cn_name_abridge">所属商品: </label>
          <!-- <input class="form-control" type="text" placeholder="查找商品名" readonly value="{{ form_data['item_name'] if form_data and form_data.get('item_name') else '' }}"> -->
          <span style="font-size: 20px">{{ form_data['item_name'] if form_data and form_data.get('item_name') else '' }}</span>
          <span style="color:red">{{ form_error['item_id'] if form_error and form_error.get('item_id') else '' }}</span>
        </div>
      </div><!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

{% end %}
{% block js %}
    <script>
    $(function(){
          $('.item_list ul').click(function(){
               var text =  $(this).text()
               $('.search_input').val(text)
          })
          $('.item_list ul').hover(
            function(){
              $(this).css('background-color', 'skyblue')
            },
            function(){
              $(this).css('background-color', '')
            }
          )
        $('.search_input').bind('input propertychange', function(){
          var text = $(this).val()
          var $option_list = $('.item_list ul')
          var re = "/" + text + ".*/"
          re = eval(re)
          $option_list.each(function(index, item){
            var option_text = $(item).text()
            var re_value = option_text.match(re)
            if(re_value){
              $(this).show()
            }else{
              $(this).hide()
            }
          })
          
        })
    })
    
    </script>
{% end %}


