{% extends '../admin/a_layout.html' %}
{% block css %}
    
{% end %}
{% block title %}
<div><a type="button" class="btn btn-default back_btn" >🔙 后退</a> </div> <hr> 图片管理 
{% end %}
{% block page_header %}
<ol class="breadcrumb">
    <li>商品管理</li>
    <li class="active">{{item_obj.item_name}}</li>
</ol>
{% end %}

{% block content %}
<input type="file" accept=".jpg" name="add_new_image" multiple style="display:none;" item-id="{{ item_obj.item_id }}"> 
<div class="container">
    <h4>商品缩略图 
        <a type="button" class="btn btn-info add_image" >Add
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <button type="button" class="btn btn-danger delete_image" type="button">Delete<span class="glyphicon glyphicon-trash"></span></button>
    </h4>
    <div class="row" image-type='1' style="overflow: auto; max-width: 900px;" >
        
        {% if image_dict.get(1) %}
            {% for i in image_dict.get(1) %}
                <div class="col-xs-6 col-md-2 image_item" image-id='{{i.get("image_id")}}'>
                    <a class="thumbnail" style="width: 150px;height: 150px;">
                    <img src="{{i.get('image_path')}}" alt="..." >
                    </a>
                </div>
            {% end %}
        {% else %}
            <!-- <div class="col-xs-6 col-sm-2 image_item">
                <a class="thumbnail" style="width: 150px;height: 150px;">
                <img src="/images/user-default.jpg" alt="...">
                </a>
            </div> -->
        {% end %}
        
    </div>
    <h4>商品样式图 
        <button type="button" class="btn btn-info add_image" >Add<span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-danger delete_image" type="button">Delete<span class="glyphicon glyphicon-trash"></span></button>
    </h4>
    <div class="row" image-type='2' style="overflow: auto; max-width: 900px;">
        
        {% if image_dict.get(2) %}
            {% for i in image_dict.get(2) %}
                <div class="col-xs-6 col-md-3 image_item" image-id='{{i.get("image_id")}}'> 
                    <a class="thumbnail" style="width: 200px;height: 200px;">
                    <img src="{{i.get('image_path')}}" alt="..." >
                    </a>
                </div>
            {% end %}
        {% else %}
            <!-- <div class="col-xs-6 col-md-4 image_item">
                <a class="thumbnail" style="width: 200px;height: 200px;">
                <img src="/images/user-default.jpg" alt="...">
                </a>
            </div> -->
        {% end %}
    </div>

    <h4>商品详细图 
        <button type="button" class="btn btn-info add_image" >Add<span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-danger delete_image" type="button">Delete<span class="glyphicon glyphicon-trash"></span></button>
    </h4>
    <div class="row" image-type='4' style="overflow: auto; max-width: 1000px;">
        
        {% if image_dict.get(4) %}
            {% for i in image_dict.get(4) %}
                <div class="col-xs-6 col-md-4 image_item" image-id='{{i.get("image_id")}}'>
                    <a class="thumbnail" style="width: 350px;height: 350px; overflow: auto;">
                    <img src="{{i.get('image_path')}}" alt="..." >
                    </a>
                </div>
            {% end %}
        {% else %}
            <!-- <div class="col-xs-6 col-md-3 image_item">
                <a class="thumbnail" style="width: 350px;height: 350px;">
                <img src="/images/user-default.jpg" alt="...">
                </a>
            </div> -->
        {% end %}
    </div>
</div>
{% end %}
{% block js %}
<script>
    $(function(){
        $('.admin').addClass('active menu-open');
        $('.admin .items_manage').addClass('active');
        $('.back_btn').click(function(){
            history.back()
        })
        // 图片单机事件
        $('.image_item').click(function(){
            if($(this).find('a').css('background-color') != 'rgb(95, 158, 160)'){
                $(this).find('a').css('background-color', 'cadetblue')
            }else{
                $(this).find('a').css('background-color', '')
            }  
        });

        // 添加图片事件
        $('.add_image').click(function(){
            $('input[name=add_new_image]').trigger('click')
            $('input[name=add_new_image]').unbind()
            var image_type = $(this).parent().next().attr('image-type')
            $('input[name=add_new_image]').change(function(){
                var file =  $(this)[0].files
                var formData = new FormData();
                for(var i=0;i<file.length;i++){
                    formData.append(file[i].name,file[i])
                }
                formData.append('image_type', image_type)
                formData.append('item_id', $(this).attr('item-id'))
                formData.append('_xsrf', getCookie("_xsrf"))
                $.ajax({
                    type:'post',
                    url:"/j/add_image/",
                    data:formData,
                    dataType:'json',
                    contentType:false,
                    processData:false,
                    success:function(data){
                        if(data.result == 'success'){
                            location.reload()
                        }else{
                            alert(data.message)
                        }
                    }
                })
            })

        })
        

        //删除图片事件
        $('.delete_image').click(function(){
            var image_item_list = $(this).parent().next().children()
            var image_id_list = []
            $.each(image_item_list, function(index, item){
                if($(item).find('a').css('background-color') == 'rgb(95, 158, 160)'){
                    if($(item).attr('image-id')){
                        image_id_list.push($(item).attr('image-id'))
                    }
                }

            })
            if(image_id_list.length>0){
                var se = confirm("是否确认删除")
                if (se==true)
                {
                    $.post(
                        '/j/delete_image/',
                        {'image_id_list':image_id_list, '_xsrf':getCookie("_xsrf")},
                        function(value){
                            if(value.result == 'success'){
                                location.reload()
                            }else{
                                alert(value.message)
                            }
                        },
                        'json'
                    )
                }
                else
                {
                
                }
                
            }
            
            
        })


    })
</script>
    
{% end %}