
body {
    min-width: 1090px;
    margin: 0 auto;
}

#docHead {
    border-bottom: 1px solid #E8E8EA
}

#docHeadWrap {
    width: 1000px
}

#topimg {
    left: 458px
}

#toplist h3 {
    line-height: 20px
}

#toplist p {
    display: block
}

a,a:hover {
    text-decoration: none
}

.foot a:hover {
    opacity: .7;
    filter: alpha(opacity=70)
}

.login-banner {
    margin-bottom: 40px;
    background-color: #F8F8F8;
    background-position: center top;
    background-repeat: no-repeat
}

.m-loginBody {
    position: relative;
    width: 1000px;
    height: 520px;
    margin: 0 auto
}

.m-loginBody .title-sale {
    position: absolute;
    width: 108px;
    height: 106px;
    z-index: 3;
    right: 412px;
    top: 80px;
    background: url(/images/www/sale.png) no-repeat;
}

#regurl {
    color: #f21854;
    font-size: 12px;
}

.m-loginBody .m-loginWrap {
    position: absolute;
    z-index: 2;
    right: 70px;
    top: 80px;
    width: 350px;
    border: 3px solid #f21854;
    background-color: #fff;
    border-radius:25px;
}

.m-loginBody .hotarea {
    position: absolute;
    background-image: url(/images/www/blank.gif);
    left: 10px;
    top: 109px;
    width: 400px;
    height: 280px
}

.m-loginBody .defaultimg {
    position: absolute;
    left: 10px;
    top: 154px;
    width: 400px;
    height: 203px
}

.m-loginBody .loginForm {
    float: left
}
.m-loginWrap .formList {
    padding: 0 40px 55px
}

.m-checkbox {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.m-loginWrap .qrcode {
    position: absolute;
    left: 100%;
    top: -1px;
    width: 148px;
    height: 100%;
    border: 1px solid #eaeaea;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat
}

.m-loginBody .qr-hotarea {
    position: absolute;
    background-image: url(/images/www/blank.gif);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.m-loginWrap .qrcode .code-wrap {
    width: 106px;
    height: 106px;
    border: 1px solid #eaeaea;
    margin: 93px auto 10px
}

.m-loginWrap .qrcode .code-wrap img {
    width: 100px;
    height: 100px;
    margin: 3px
}

.m-loginWrap .qrcode .desc {
    line-height: 20px;
    font-size: 14px;
    color: #D22046;
    text-align: center
}

.foot {
    margin-bottom: 100px;
    text-align: center;
    font-size: 14px;
    color: #666
}

.foot a {
    color: #666
}

.foot span {
    margin: 0 20px
}

.foot p {
    font-size: 12px;
    color: #999;
    margin: 15px 0 10px
}



#docHead {
    position: relative;
    height: 100px;
    background: #fff;
    z-index: 74
}

#docHeadWrap {
    position: relative;
    zoom: 1;
    width: 1090px;
    height: 100px;
    margin: 0 auto
}

#docHead .logokaola,#docHead .logokaola:hover {
    text-decoration: none
}

#docHead .logokaola {
    position: absolute;
    left: 0;
    top: 23px;
    height: 60px;
    width: 258px;
    outline: 0;
    cursor: pointer;
    z-index: 9
}

#topimg {
    position: absolute;
    left: 588px;
    margin-top: 35px;
    top: 0
}

#topimg-new {
    position: absolute;
    left: 265px;
    top: 0;
    width: 200px;
    overflow: hidden
}

.m-loginWrap {
    font-size: 12px
}

.m-loginWrap h2 {
    height: 24px;
    padding: 27px 40px 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #333
}

.m-loginWrap h2 .tit {
    float: left
}

.m-loginWrap h2 a {
    float: right;
    font-size: 14px;
    color: #333;
    font-weight: 400
}

.m-loginWrap h2 a:hover {
    color: #51B8F1
}

.m-loginWrap .loginErr {
    margin: 5px 0 15px
}

.m-loginWrap .erricon {
    float: left;
    /*font-family: iconfont!important;*/
    color: #D12147;
    height: 20px;
    font-size: 19px;
    line-height: 20px
}

.m-loginWrap .err {
    display: inline-block;
    height: 20px;
    padding-left: 5px;
    color: #D22147;
    line-height: 20px
}

.login-banner {
    background-image: url(/images/www/login-bg-img.png);
}

.m-loginWrap .import {
    position: relative;
    height: 28px;
    width: 268px;
    padding: 2px 0;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    z-index: 1;
    font-size: 14px
}

.m-loginWrap #useremail_box, .m-loginWrap #password_box {
    background: #F0F0F0;
    z-index: 3
}

.m-loginWrap .import label {
    position: absolute;
    top: 4px;
    _top: 7px;
    left: 46px;
    _left: 49px;
    z-index: 1;
    color: #aaa;
    cursor: text
}

.m-loginWrap .importerr {
    border-color: #D22147
}

.m-loginWrap #useremail_box, .m-loginWrap #password_box {
    margin-top: 10px
}

.m-loginWrap .icon {
    float: left;
    display: inline-block;
    height: 28px;
    width: 34px;
    border-right: 1px solid #ddd;
    /*font-family: iconfont!important;*/
    color: #ccc;
    font-size: 18px;
    text-align: center;
    line-height: 26px
}

.forget_pwd{
    font-size: 12px;
    color: #f21854;
}

.m-loginWrap .import input {
    position: relative;
    z-index: 3;
    height: 20px;
    width: 210px;
    padding: 4px 10px;
    line-height: 20px;
    border: 0;
    outline: 0;
    ime-mode: disabled;
    background: url(/images/www/emptybg_96b451b.png)
}

.m-loginWrap .suggest_list {
    display: none;
    position: absolute;
    top: 31px;
    _top: 33px;
    left: -1px;
    _width: 268px;
    min-width: 268px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
    z-index: 99
}

.m-loginWrap .suggest_list h6 {
    display: none
}

.m-loginWrap .suggest_list li {
    height: 14px;
    min-width: 213px;
    _width: 213px;
    padding: 10px 10px 10px 45px;
    cursor: pointer
}

.m-loginWrap .suggest_list .list_focus,.m-loginWrap .suggest_list li:hover {
    background-color: #f7f7f7
}

.m-loginWrap .iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
    left: 0;
    top: 26px;
    _top: 35px;
    border: 0
}

.m-loginWrap .auto {
    margin: 17px 0
}

.m-loginWrap .loginBtn {
    display: inline-block;
    width: 270px;
    height: 40px;
    border: 0;
    background-color: #f21854;
    outline: 0;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.m-loginWrap .loginBtn:hover {
    background-color: #F5345E
}

.m-loginWrap .regtip {
    margin-top: 17px;
    text-align: center;
    color: #666
}

.m-loginWrap .iDialogMain {
    width: 350px;
    padding: 0
}

.m-loginWrap .formList {
    width: 270px;
    padding: 0 40px 2px
}

.m-thirdpart {
    border-top: 1px solid #eaeaea;
    padding: 10px 0;
    width: 350px
}

.m-thirdpart li {
    float: left;
    width: 104px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    text-align: center
}

.m-thirdpart .zfb {
    width: 130px
}

.m-thirdpart .wb {
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea
}

.m-thirdpart .w-btn3 {
    display: inline-block;
    font-size: 14px;
    color: #333;
    cursor: pointer
}

.m-thirdpart .w-btn3:hover {
    color: #51B8F1;
    text-decoration: none
}

.m-thirdpart .w-btn3 i,.m-thirdpart .w-btn3 span {
    float: left
}

.m-thirdpart .w-btn3 i {
    margin-right: 6px
}

.m-loginWrap .iDialogHead {
    padding: 30px 40px 0;
    height: 18px;
    margin-bottom: 10px;
    border-bottom: none;
    font-size: 18px;
    color: #333;
    line-height: 18px;
    font-weight: 700
}

.m-loginWrap .iDialogHead div {
    font-weight: 400
}

.m-loginWrap .iDialogClose,.m-loginWrap .iDialogClose:hover,.m-loginWrap-1 .zcls {
    top: 20px;
    right: 20px
}

.clearFix,.m-form .fitm,.m-thirdpart .w-btn3 {
    zoom: 1
}

.clearFix:after,.m-form .fitm:after,.m-thirdpart .w-btn3:after {
    content: "\20 ";
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
    display: block
}


.clearfix:after,.f-cb:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\20 ";
    clear: both;
    height: 0
}

.clearfix,.f-cb {
    zoom: 1
}

.m-checkbox {
    font-size: 12px
}

.m-checkbox .box {
    position: relative;
    padding-right: 22px;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    font-family: iconfont
}

.m-checkbox em {
    position: absolute;
    top: -1px;
    left: 0;
    width: 13px;
    height: 13px;
    font-size: 16px;
    text-indent: -9999px;
    border: 1px solid #ddd
}

.m-checkbox i {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    font-size: 15px;
    color: #D12147;
    text-align: center;
    text-indent: -9999px;
    background: #fff
}
.m-checked .box i {
    text-indent: 0
}
.fleft {
    float: left
}

.fright {
    float: right
}
.w-icon {
    background: url(/images/www/goods_detail.png) no-repeat;
    _background-image: url(/images/www/goods_detail.png)
}

.w-icon-18 {
    width: 21px;
    height: 21px;
    background-position: -239px -210px
}

.w-icon-18-1 {
    background-position: -239px -255px
}

.w-icon-18-2 {
    width: 22px;
    background-position: -239px -304px
}

#docHead .logokaola {
    background: url(/images/www/logo-top1.png) no-repeat;
    _background-image: url(/images/www/logo-top1.png)
}

ol, ul {
    list-style: none;
}

.rl-modal-header {
    position: relative;
    padding: 0 40px;
    font-size: 16px;
}
.rl-modal-header .active-title, .rl-modal-header span:hover {
    border-bottom: 1px solid #F7661F;
    color: #F7661F;
}
.rl-modal-header .header {
    font-size: 16px;
    line-height: 49px;
    height: 49px;
    color: #787d82;
    border-bottom: 1px solid #d0d6d9;
}

.rl-modal-header .header span {
    float: left;
    width: 100px;
    text-align: center;
    height: 49px;
    line-height: 49px;
    cursor: pointer;
}

#verificate-login #user {
    width: 115px;
}

.btn {
    display: inline-block;
    zoom: 1;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    color: #a53f5b;
    background-color: #f8c8d2;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

#send_code {
    display:inline;
    font-size: 14px;
    position: absolute;
    line-height: 28px;
    height: 28px;
    padding: 0 5px;
    font-weight: 500;
    right: 2px;
    width: 100px;
    background-color: #f8c8d2;
}

#send_code .seconds {
    color: #f21854;
}